@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono:400,400i,500,500i|Roboto+Slab:400,500|Roboto:400,500,500i&display=swap&subset=cyrillic');

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, strong {
    font-weight: 500;
}

h3 {
    position: sticky;
    top: 0;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 0 0 -10px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #555;
    background: #e7e7e7;
}

ul, ol {
    list-style: none;
}

ul, ol, p {
    margin: 0;
    padding: 0;
}

table {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    border-collapse: collapse;
}

table, tr, td, th {
    border: 1px solid #ddd;
}

td, th {
    text-align: left;
    padding: 2px 5px;
}

th {
    vertical-align: top;
    font-weight: 500;
}

pre, code {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

.app-background { background: #f8f8f8; }
.app-border { border: 1px solid #e7e7e7; }
.app-border-red { border: 1px solid #f00; }

.app-ff-roboto { font-family: 'Roboto', sans-serif; }
.app-ff-roboto-con { font-family: 'Roboto Condensed', sans-serif; }
.app-ff-roboto-mono { font-family: 'Roboto Mono', monospace; }
.app-ff-roboto-slab { font-family: 'Roboto Slab', serif; }

.app-pal-header { background: #f8f8f8; color: #333; }
.app-pal-active { background: #e7e7e7; color: #555; }

.n { color: red; }

.max-w1140 { max-width: 1140px; }
.lh20 { line-height: 20px; }
.mla { margin-left: auto; }
.w250 { width: 250px; }
.sticky-t { position: sticky; top: 0; }
.sticky-t50 { position: sticky; top: 50px; }

/* --------------- */
.hover-red:hover { color: red; }
.active-red.active { color: red; }
.hover-rot90:hover { transform: rotate(90deg); }
.active-rot90.active { transform: rotate(90deg); }

.toggle.active .if-off { display: none; }
.toggle:not(.active) .if-on { display: none; }

.toggle2.active:hover .if-on { display: none; }
.toggle2.active:not(:hover) .if-off { display: none; }
.toggle2:not(.active):hover .if-off { display: none; }
.toggle2:not(.active):not(:hover) .if-on { display: none; }

.behavior-hov1 { transition: color 0.3s; }
.behavior-hov1:hover,
.behavior-hov1.active { color: red; }
.behavior-rot90 { transition: transform 0.3s; }
.behavior-rot90:hover,
.behavior-rot90.active { transform: rotate(90deg); }

.toggle-opacity .if-on,
.toggle-opacity .if-off { transition: opacity 0.25s; }
.toggle-opacity:hover .if-off { opacity: 0; }
.toggle-opacity:not(:hover).active .if-off { opacity: 0; }
.toggle-opacity:not(:hover):not(.active) .if-on { opacity: 0; }

.toggle-rot90 .if-on { transition: transform 0.25s; }
.toggle-rot90:hover .if-on { transform: rotate(90deg); }
.toggle-rot90:not(:hover).active .if-on { transform: rotate(90deg); }
/* --------------- */


.CodeMirror {
    width: auto;
    height: auto;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 1.25em;
    z-index: -1;
}

.CodeMirror-scroll {
    min-height: 100px;
}
