@use 'sass:list'
@use 'sass:string'

// https://stackoverflow.com/a/42295154/1478566
@function str-split($string, $separator)
    // empty array/list
    $split-arr: ()
    // first index of separator in string
    $index : string.index($string, $separator)
    // loop through string
    @while $index != null
        // get the substring from the first character to the separator
        $item: string.slice($string, 1, $index - 1)
        // push item to array
        $split-arr: list.append($split-arr, $item)
        // remove item and separator from string
        $string: string.slice($string, $index + 1)
        // find new index of separator
        $index : string.index($string, $separator)
    // add the remaining string to list (the last item)
    $split-arr: list.append($split-arr, $string)
    @return $split-arr
