<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="../demo.css" type="text/css" rel="stylesheet">
    <style>
    .hov-container {
        position: relative;
    }
    .hov-item {
        transition: opacity 0.25s;
        opacity: 0;
        position: absolute;
        width: 100%;
        bottom: 0;
        pointer-events: none;
        border-bottom: 5px solid red;
    }
    .hov-container:hover .hov-item {
        opacity: 1;
    }
    </style>
</head>
<body>

<div id="app" class="mt100">
    <div class="fix-t z1 ph15 bs10 white">
        <input v-model="width" class="ww" type="range" min="100" max="1200">
        <input v-model="height" class="ww" type="range" min="10" max="200">
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--
    <ul class="flex-row-fluid ma dashed bs10 rainbow" v-bind:style="{width: px(width)}">
    -->
    <div v-bind:style="{width: px(width), height: px(height)}" class="ma dashed">
        <ul class="xls xm xp hh flex-row-fluid rainbow bs10">
            <li v-for="button in buttons" class="p5 flex-row-center hov-container">
                {{ button }}
                <div class="hov-item"></div>
            </li>
        </ul>
    </div>

    <pre>
&lt;ul class="xls xm xp hh flex-row-fluid rainbow bs10"&gt;
    &lt;li class="p5"&gt;Sed a sem tortor&lt;/li&gt;
    &lt;li class="p5"&gt;Sed luctus&lt;/li&gt;
    &lt;li class="p5"&gt;Iaculis pulvinar&lt;/li&gt;
    &lt;li class="p5"&gt;Aenean&lt;/li&gt;
    &lt;li class="p5"&gt;Suscipit sem ut enim&lt;/li&gt;
&lt;/ul&gt;
    </pre>
</div>

<script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
<script src="../vue/mixins.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            buttons: [
                'Sed a sem tortor',
                'Sed luctus',
                'Iaculis pulvinar',
                'Aenean',
                'Suscipit sem ut enim',
            ],
            width: 800,
            height: 75,
        },
    });
</script>

</body>
</html>
