<table class="popover-table bg-popover">
<tbody>
    <tr>
        <td>
            <label for="popover-icon-name">
                <img class="fit20" src="popover/img/blank.svg" alt="" /><!--
             -->Name
            </label>
        </td>
        <td>
            <input id="popover-icon-name" type="text" value="icon1" class="w100" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="popover-scale-plus">
                <img class="fit20" src="popover/img/icon-scale.svg" alt="" /><!--
             -->Scale
            </label>
        </td>
        <td>
            <button id="popover-scale-plus" class="btn-28">
                <img class="fit vt bbox p4" src="popover/img/plus.svg" alt="" />
            </button><!--
         --><button class="btn-28">
                <img class="fit vt bbox p4" src="popover/img/minus.svg" alt="" />
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <label for="popover-rotate-plus">
                <img class="fit20" src="popover/img/icon-rotate.svg" alt="" /><!--
             -->Rotate
            </label>
        </td>
        <td>
            <button id="popover-rotate-plus" class="btn-28 inline-block">
                <img class="fit vt bbox p4" src="popover/img/plus.svg" alt="" />
            </button><!--
         --><button class="btn-28 inline-block">
                <img class="fit vt bbox p4" src="popover/img/minus.svg" alt="" />
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <label for="popover-move-left">
                <img class="fit20" src="popover/img/icon-move.svg" alt="" /><!--
             -->Move
            </label>
        </td>
        <td>
            <button id="popover-move-left" class="btn-28">
                <img class="fit vt bbox p4" src="popover/img/button_left.svg" alt="" />
            </button><!--
         --><span class="dd vm">
                <button class="db btn-28 am">
                    <img class="fit vt bbox p4" src="popover/img/button_up.svg" alt="" />
                </button>
                <button class="db btn-28 am">
                    <img class="fit vt bbox p4" src="popover/img/button_down.svg" alt="" />
                </button>
            </span><!--
         --><button class="btn-28">
                <img class="fit vt bbox p4" src="popover/img/button_right.svg" alt="" />
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <label for="popover-flip-h">
                <img class="fit20" src="popover/img/icon-flip.svg" alt="" /><!--
             -->Flip
            </label>
        </td>
        <td>
            <button id="popover-flip-h" class="btn-28">
                <img class="fit vt bbox p4" src="popover/img/flip_h.svg" alt="" />
            </button><!--
         --><button class="btn-28">
                <img class="fit vt bbox p4" src="popover/img/flip_v.svg" alt="" />
            </button>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <label for="popover-original-colors">
                Original Colors
            </label>
            <input id="popover-original-colors" type="checkbox" v-model="originalColors" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <label for="popover-custom-colors">
                Custom Colors
            </label>
            <input id="popover-custom-colors" type="checkbox" v-model="customColors" />
        </td>
    </tr>
    <tr v-show="customColors && !originalColors">
        <td>
            <label for="popover-shape-color-1">
                Shape
            </label>
        </td>
        <td>
            <input id="popover-shape-color-1" type="color" v-model="shapeColor1" /><!--
         --><input type="color" v-model="shapeColor2" /><!--
         --><button class="btn-28">
                <img class="fit vt bbox p4" src="popover/img/random.svg" alt="" />
            </button><!--
         --><button class="btn-28">
                <img class="fit vt bbox p4" src="popover/img/settings.svg" alt="" />
            </button>
        </td>
    </tr>
    <tr v-show="customColors">
        <td>
            <label for="popover-background-color-1">
                Background abcdef 12345
            </label>
        </td>
        <td>
            <input id="popover-background-color-1" type="color" v-model="backgroundColor1" /><!--
         --><input type="color" v-model="backgroundColor2" /><!--
         --><button class="btn-28">
                <img class="fit vt bbox p4" src="popover/img/random.svg" alt="" />
            </button><!--
         --><button class="btn-28">
                <img class="fit vt bbox p4" src="popover/img/settings.svg" alt="" />
            </button>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="c">
            <button class="btn-28-wide">Delete</button><!--
         --><button class="btn-28-wide">Reset</button>
        </td>
    </tr>
</tbody>
</table>
