.tbody-mg5 > tr:nth-child(n+2) > td {
    border-top: 5px solid transparent;
}

.tbody-mg5 > tr > td:nth-child(1) {
    text-align: right;
}

.tbody-mg5 > tr > td:nth-child(2) > * {
    margin-left: 5px;
}
