/*
body {
    display: inline-block;
    white-space: nowrap;
    padding: 100px;
    border: 1px dashed blue;
}
*/

.border2 {
    border: 2px solid black;
}

.circle {
    border-radius:100%;
}

.fit100 {
    width: 100px;
    height: 100px;
}

.fit200 {
    width: 200px;
    height: 200px;
}

.fit400 {
    width: 400px;
    height: 400px;
}
