.container {
    width: 100px;
    margin: 140px auto 0;
    box-sizing: content-box;
}

/* http://uilang.com */
/* http://www.thesaurus.com/browse/client */

.switch,
.switch-thumb {
    transition: .4s;
    box-sizing: content-box;
}

.switch {
    cursor: pointer;
    border: 2px solid #e8eaec;
    border-radius: 999px;
    background: #fafafb;
}

.switch.active {
    border-color: #41c955;
    background: #52d468;
}

.switch-frame {
    margin: 0 25px;
}

.switch-thumb {
    position: relative;
    left: 0;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    box-shadow: 0 4px 4px rgba(26, 53, 71, .25), 0 0 0 1px rgba(26, 53, 71, .07);
    background: #fff;
}

.switch.active .switch-thumb {
    left: 100%;
}
