.pt100p {
    padding-top: 100%;
}

.border5-transparent {
    border: 5px solid transparent;
}

.border10-transparent {
    border: 10px solid transparent;
}

.mg10 > :nth-child(n+2) {
    margin-top: 10px;
}

.bs5 {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
}

.bs10 {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
}

/* grid */

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col13, .col14, .col15, .col16, .col17, .col18, .col19, .col20, .col21, .col22, .col23, .col24, .col25, .col26, .col27, .col28, .col29, .col30
{ float: left }

.grid1 > .col1 { width: 100% }

.grid2 > .col1 { width: 50% }
.grid2 > .col2 { width: 100% }

.grid3 > .col1 { width: 33.3333333333% }
.grid3 > .col2 { width: 66.6666666667% }
.grid3 > .col3 { width: 100% }

.grid4 > .col1 { width: 25% }
.grid4 > .col2 { width: 50% }
.grid4 > .col3 { width: 75% }
.grid4 > .col4 { width: 100% }

.grid5 > .col1 { width: 20% }
.grid5 > .col2 { width: 40% }
.grid5 > .col3 { width: 60% }
.grid5 > .col4 { width: 80% }
.grid5 > .col5 { width: 100% }

.grid6 > .col1 { width: 16.6666666667% }
.grid6 > .col2 { width: 33.3333333333% }
.grid6 > .col3 { width: 50% }
.grid6 > .col4 { width: 66.6666666667% }
.grid6 > .col5 { width: 83.3333333333% }
.grid6 > .col6 { width: 100% }

.grid7 > .col1 { width: 14.2857142857% }
.grid7 > .col2 { width: 28.5714285714% }
.grid7 > .col3 { width: 42.8571428571% }
.grid7 > .col4 { width: 57.1428571429% }
.grid7 > .col5 { width: 71.4285714286% }
.grid7 > .col6 { width: 85.7142857143% }
.grid7 > .col7 { width: 100% }

.grid8 > .col1 { width: 12.5% }
.grid8 > .col2 { width: 25% }
.grid8 > .col3 { width: 37.5% }
.grid8 > .col4 { width: 50% }
.grid8 > .col5 { width: 62.5% }
.grid8 > .col6 { width: 75% }
.grid8 > .col7 { width: 87.5% }
.grid8 > .col8 { width: 100% }

.grid9 > .col1 { width: 11.1111111111% }
.grid9 > .col2 { width: 22.2222222222% }
.grid9 > .col3 { width: 33.3333333333% }
.grid9 > .col4 { width: 44.4444444444% }
.grid9 > .col5 { width: 55.5555555556% }
.grid9 > .col6 { width: 66.6666666667% }
.grid9 > .col7 { width: 77.7777777778% }
.grid9 > .col8 { width: 88.8888888889% }
.grid9 > .col9 { width: 100% }

.grid10 > .col1 { width: 10% }
.grid10 > .col2 { width: 20% }
.grid10 > .col3 { width: 30% }
.grid10 > .col4 { width: 40% }
.grid10 > .col5 { width: 50% }
.grid10 > .col6 { width: 60% }
.grid10 > .col7 { width: 70% }
.grid10 > .col8 { width: 80% }
.grid10 > .col9 { width: 90% }
.grid10 > .col10 { width: 100% }

.grid11 > .col1 { width: 9.0909090909% }
.grid11 > .col2 { width: 18.1818181818% }
.grid11 > .col3 { width: 27.2727272727% }
.grid11 > .col4 { width: 36.3636363636% }
.grid11 > .col5 { width: 45.4545454545% }
.grid11 > .col6 { width: 54.5454545455% }
.grid11 > .col7 { width: 63.6363636364% }
.grid11 > .col8 { width: 72.7272727273% }
.grid11 > .col9 { width: 81.8181818182% }
.grid11 > .col10 { width: 90.9090909091% }
.grid11 > .col11 { width: 100% }

.grid12 > .col1 { width: 8.3333333333% }
.grid12 > .col2 { width: 16.6666666667% }
.grid12 > .col3 { width: 25% }
.grid12 > .col4 { width: 33.3333333333% }
.grid12 > .col5 { width: 41.6666666667% }
.grid12 > .col6 { width: 50% }
.grid12 > .col7 { width: 58.3333333333% }
.grid12 > .col8 { width: 66.6666666667% }
.grid12 > .col9 { width: 75% }
.grid12 > .col10 { width: 83.3333333333% }
.grid12 > .col11 { width: 91.6666666667% }
.grid12 > .col12 { width: 100% }

.grid13 > .col1 { width: 7.6923076923% }
.grid13 > .col2 { width: 15.3846153846% }
.grid13 > .col3 { width: 23.0769230769% }
.grid13 > .col4 { width: 30.7692307692% }
.grid13 > .col5 { width: 38.4615384615% }
.grid13 > .col6 { width: 46.1538461538% }
.grid13 > .col7 { width: 53.8461538462% }
.grid13 > .col8 { width: 61.5384615385% }
.grid13 > .col9 { width: 69.2307692308% }
.grid13 > .col10 { width: 76.9230769231% }
.grid13 > .col11 { width: 84.6153846154% }
.grid13 > .col12 { width: 92.3076923077% }
.grid13 > .col13 { width: 100% }

.grid14 > .col1 { width: 7.1428571429% }
.grid14 > .col2 { width: 14.2857142857% }
.grid14 > .col3 { width: 21.4285714286% }
.grid14 > .col4 { width: 28.5714285714% }
.grid14 > .col5 { width: 35.7142857143% }
.grid14 > .col6 { width: 42.8571428571% }
.grid14 > .col7 { width: 50% }
.grid14 > .col8 { width: 57.1428571429% }
.grid14 > .col9 { width: 64.2857142857% }
.grid14 > .col10 { width: 71.4285714286% }
.grid14 > .col11 { width: 78.5714285714% }
.grid14 > .col12 { width: 85.7142857143% }
.grid14 > .col13 { width: 92.8571428571% }
.grid14 > .col14 { width: 100% }

.grid15 > .col1 { width: 6.6666666667% }
.grid15 > .col2 { width: 13.3333333333% }
.grid15 > .col3 { width: 20% }
.grid15 > .col4 { width: 26.6666666667% }
.grid15 > .col5 { width: 33.3333333333% }
.grid15 > .col6 { width: 40% }
.grid15 > .col7 { width: 46.6666666667% }
.grid15 > .col8 { width: 53.3333333333% }
.grid15 > .col9 { width: 60% }
.grid15 > .col10 { width: 66.6666666667% }
.grid15 > .col11 { width: 73.3333333333% }
.grid15 > .col12 { width: 80% }
.grid15 > .col13 { width: 86.6666666667% }
.grid15 > .col14 { width: 93.3333333333% }
.grid15 > .col15 { width: 100% }

.grid16 > .col1 { width: 6.25% }
.grid16 > .col2 { width: 12.5% }
.grid16 > .col3 { width: 18.75% }
.grid16 > .col4 { width: 25% }
.grid16 > .col5 { width: 31.25% }
.grid16 > .col6 { width: 37.5% }
.grid16 > .col7 { width: 43.75% }
.grid16 > .col8 { width: 50% }
.grid16 > .col9 { width: 56.25% }
.grid16 > .col10 { width: 62.5% }
.grid16 > .col11 { width: 68.75% }
.grid16 > .col12 { width: 75% }
.grid16 > .col13 { width: 81.25% }
.grid16 > .col14 { width: 87.5% }
.grid16 > .col15 { width: 93.75% }
.grid16 > .col16 { width: 100% }

.grid17 > .col1 { width: 5.8823529412% }
.grid17 > .col2 { width: 11.7647058824% }
.grid17 > .col3 { width: 17.6470588235% }
.grid17 > .col4 { width: 23.5294117647% }
.grid17 > .col5 { width: 29.4117647059% }
.grid17 > .col6 { width: 35.2941176471% }
.grid17 > .col7 { width: 41.1764705882% }
.grid17 > .col8 { width: 47.0588235294% }
.grid17 > .col9 { width: 52.9411764706% }
.grid17 > .col10 { width: 58.8235294118% }
.grid17 > .col11 { width: 64.7058823529% }
.grid17 > .col12 { width: 70.5882352941% }
.grid17 > .col13 { width: 76.4705882353% }
.grid17 > .col14 { width: 82.3529411765% }
.grid17 > .col15 { width: 88.2352941176% }
.grid17 > .col16 { width: 94.1176470588% }
.grid17 > .col17 { width: 100% }

.grid18 > .col1 { width: 5.5555555556% }
.grid18 > .col2 { width: 11.1111111111% }
.grid18 > .col3 { width: 16.6666666667% }
.grid18 > .col4 { width: 22.2222222222% }
.grid18 > .col5 { width: 27.7777777778% }
.grid18 > .col6 { width: 33.3333333333% }
.grid18 > .col7 { width: 38.8888888889% }
.grid18 > .col8 { width: 44.4444444444% }
.grid18 > .col9 { width: 50% }
.grid18 > .col10 { width: 55.5555555556% }
.grid18 > .col11 { width: 61.1111111111% }
.grid18 > .col12 { width: 66.6666666667% }
.grid18 > .col13 { width: 72.2222222222% }
.grid18 > .col14 { width: 77.7777777778% }
.grid18 > .col15 { width: 83.3333333333% }
.grid18 > .col16 { width: 88.8888888889% }
.grid18 > .col17 { width: 94.4444444444% }
.grid18 > .col18 { width: 100% }

.grid19 > .col1 { width: 5.2631578947% }
.grid19 > .col2 { width: 10.5263157895% }
.grid19 > .col3 { width: 15.7894736842% }
.grid19 > .col4 { width: 21.0526315789% }
.grid19 > .col5 { width: 26.3157894737% }
.grid19 > .col6 { width: 31.5789473684% }
.grid19 > .col7 { width: 36.8421052632% }
.grid19 > .col8 { width: 42.1052631579% }
.grid19 > .col9 { width: 47.3684210526% }
.grid19 > .col10 { width: 52.6315789474% }
.grid19 > .col11 { width: 57.8947368421% }
.grid19 > .col12 { width: 63.1578947368% }
.grid19 > .col13 { width: 68.4210526316% }
.grid19 > .col14 { width: 73.6842105263% }
.grid19 > .col15 { width: 78.9473684211% }
.grid19 > .col16 { width: 84.2105263158% }
.grid19 > .col17 { width: 89.4736842105% }
.grid19 > .col18 { width: 94.7368421053% }
.grid19 > .col19 { width: 100% }

.grid20 > .col1 { width: 5% }
.grid20 > .col2 { width: 10% }
.grid20 > .col3 { width: 15% }
.grid20 > .col4 { width: 20% }
.grid20 > .col5 { width: 25% }
.grid20 > .col6 { width: 30% }
.grid20 > .col7 { width: 35% }
.grid20 > .col8 { width: 40% }
.grid20 > .col9 { width: 45% }
.grid20 > .col10 { width: 50% }
.grid20 > .col11 { width: 55% }
.grid20 > .col12 { width: 60% }
.grid20 > .col13 { width: 65% }
.grid20 > .col14 { width: 70% }
.grid20 > .col15 { width: 75% }
.grid20 > .col16 { width: 80% }
.grid20 > .col17 { width: 85% }
.grid20 > .col18 { width: 90% }
.grid20 > .col19 { width: 95% }
.grid20 > .col20 { width: 100% }

.grid21 > .col1 { width: 4.7619047619% }
.grid21 > .col2 { width: 9.5238095238% }
.grid21 > .col3 { width: 14.2857142857% }
.grid21 > .col4 { width: 19.0476190476% }
.grid21 > .col5 { width: 23.8095238095% }
.grid21 > .col6 { width: 28.5714285714% }
.grid21 > .col7 { width: 33.3333333333% }
.grid21 > .col8 { width: 38.0952380952% }
.grid21 > .col9 { width: 42.8571428571% }
.grid21 > .col10 { width: 47.619047619% }
.grid21 > .col11 { width: 52.380952381% }
.grid21 > .col12 { width: 57.1428571429% }
.grid21 > .col13 { width: 61.9047619048% }
.grid21 > .col14 { width: 66.6666666667% }
.grid21 > .col15 { width: 71.4285714286% }
.grid21 > .col16 { width: 76.1904761905% }
.grid21 > .col17 { width: 80.9523809524% }
.grid21 > .col18 { width: 85.7142857143% }
.grid21 > .col19 { width: 90.4761904762% }
.grid21 > .col20 { width: 95.2380952381% }
.grid21 > .col21 { width: 100% }

.grid22 > .col1 { width: 4.5454545455% }
.grid22 > .col2 { width: 9.0909090909% }
.grid22 > .col3 { width: 13.6363636364% }
.grid22 > .col4 { width: 18.1818181818% }
.grid22 > .col5 { width: 22.7272727273% }
.grid22 > .col6 { width: 27.2727272727% }
.grid22 > .col7 { width: 31.8181818182% }
.grid22 > .col8 { width: 36.3636363636% }
.grid22 > .col9 { width: 40.9090909091% }
.grid22 > .col10 { width: 45.4545454545% }
.grid22 > .col11 { width: 50% }
.grid22 > .col12 { width: 54.5454545455% }
.grid22 > .col13 { width: 59.0909090909% }
.grid22 > .col14 { width: 63.6363636364% }
.grid22 > .col15 { width: 68.1818181818% }
.grid22 > .col16 { width: 72.7272727273% }
.grid22 > .col17 { width: 77.2727272727% }
.grid22 > .col18 { width: 81.8181818182% }
.grid22 > .col19 { width: 86.3636363636% }
.grid22 > .col20 { width: 90.9090909091% }
.grid22 > .col21 { width: 95.4545454545% }
.grid22 > .col22 { width: 100% }

.grid23 > .col1 { width: 4.347826087% }
.grid23 > .col2 { width: 8.6956521739% }
.grid23 > .col3 { width: 13.0434782609% }
.grid23 > .col4 { width: 17.3913043478% }
.grid23 > .col5 { width: 21.7391304348% }
.grid23 > .col6 { width: 26.0869565217% }
.grid23 > .col7 { width: 30.4347826087% }
.grid23 > .col8 { width: 34.7826086957% }
.grid23 > .col9 { width: 39.1304347826% }
.grid23 > .col10 { width: 43.4782608696% }
.grid23 > .col11 { width: 47.8260869565% }
.grid23 > .col12 { width: 52.1739130435% }
.grid23 > .col13 { width: 56.5217391304% }
.grid23 > .col14 { width: 60.8695652174% }
.grid23 > .col15 { width: 65.2173913043% }
.grid23 > .col16 { width: 69.5652173913% }
.grid23 > .col17 { width: 73.9130434783% }
.grid23 > .col18 { width: 78.2608695652% }
.grid23 > .col19 { width: 82.6086956522% }
.grid23 > .col20 { width: 86.9565217391% }
.grid23 > .col21 { width: 91.3043478261% }
.grid23 > .col22 { width: 95.652173913% }
.grid23 > .col23 { width: 100% }

.grid24 > .col1 { width: 4.1666666667% }
.grid24 > .col2 { width: 8.3333333333% }
.grid24 > .col3 { width: 12.5% }
.grid24 > .col4 { width: 16.6666666667% }
.grid24 > .col5 { width: 20.8333333333% }
.grid24 > .col6 { width: 25% }
.grid24 > .col7 { width: 29.1666666667% }
.grid24 > .col8 { width: 33.3333333333% }
.grid24 > .col9 { width: 37.5% }
.grid24 > .col10 { width: 41.6666666667% }
.grid24 > .col11 { width: 45.8333333333% }
.grid24 > .col12 { width: 50% }
.grid24 > .col13 { width: 54.1666666667% }
.grid24 > .col14 { width: 58.3333333333% }
.grid24 > .col15 { width: 62.5% }
.grid24 > .col16 { width: 66.6666666667% }
.grid24 > .col17 { width: 70.8333333333% }
.grid24 > .col18 { width: 75% }
.grid24 > .col19 { width: 79.1666666667% }
.grid24 > .col20 { width: 83.3333333333% }
.grid24 > .col21 { width: 87.5% }
.grid24 > .col22 { width: 91.6666666667% }
.grid24 > .col23 { width: 95.8333333333% }
.grid24 > .col24 { width: 100% }

.grid25 > .col1 { width: 4% }
.grid25 > .col2 { width: 8% }
.grid25 > .col3 { width: 12% }
.grid25 > .col4 { width: 16% }
.grid25 > .col5 { width: 20% }
.grid25 > .col6 { width: 24% }
.grid25 > .col7 { width: 28% }
.grid25 > .col8 { width: 32% }
.grid25 > .col9 { width: 36% }
.grid25 > .col10 { width: 40% }
.grid25 > .col11 { width: 44% }
.grid25 > .col12 { width: 48% }
.grid25 > .col13 { width: 52% }
.grid25 > .col14 { width: 56% }
.grid25 > .col15 { width: 60% }
.grid25 > .col16 { width: 64% }
.grid25 > .col17 { width: 68% }
.grid25 > .col18 { width: 72% }
.grid25 > .col19 { width: 76% }
.grid25 > .col20 { width: 80% }
.grid25 > .col21 { width: 84% }
.grid25 > .col22 { width: 88% }
.grid25 > .col23 { width: 92% }
.grid25 > .col24 { width: 96% }
.grid25 > .col25 { width: 100% }

.grid26 > .col1 { width: 3.8461538462% }
.grid26 > .col2 { width: 7.6923076923% }
.grid26 > .col3 { width: 11.5384615385% }
.grid26 > .col4 { width: 15.3846153846% }
.grid26 > .col5 { width: 19.2307692308% }
.grid26 > .col6 { width: 23.0769230769% }
.grid26 > .col7 { width: 26.9230769231% }
.grid26 > .col8 { width: 30.7692307692% }
.grid26 > .col9 { width: 34.6153846154% }
.grid26 > .col10 { width: 38.4615384615% }
.grid26 > .col11 { width: 42.3076923077% }
.grid26 > .col12 { width: 46.1538461538% }
.grid26 > .col13 { width: 50% }
.grid26 > .col14 { width: 53.8461538462% }
.grid26 > .col15 { width: 57.6923076923% }
.grid26 > .col16 { width: 61.5384615385% }
.grid26 > .col17 { width: 65.3846153846% }
.grid26 > .col18 { width: 69.2307692308% }
.grid26 > .col19 { width: 73.0769230769% }
.grid26 > .col20 { width: 76.9230769231% }
.grid26 > .col21 { width: 80.7692307692% }
.grid26 > .col22 { width: 84.6153846154% }
.grid26 > .col23 { width: 88.4615384615% }
.grid26 > .col24 { width: 92.3076923077% }
.grid26 > .col25 { width: 96.1538461538% }
.grid26 > .col26 { width: 100% }

.grid27 > .col1 { width: 3.7037037037% }
.grid27 > .col2 { width: 7.4074074074% }
.grid27 > .col3 { width: 11.1111111111% }
.grid27 > .col4 { width: 14.8148148148% }
.grid27 > .col5 { width: 18.5185185185% }
.grid27 > .col6 { width: 22.2222222222% }
.grid27 > .col7 { width: 25.9259259259% }
.grid27 > .col8 { width: 29.6296296296% }
.grid27 > .col9 { width: 33.3333333333% }
.grid27 > .col10 { width: 37.037037037% }
.grid27 > .col11 { width: 40.7407407407% }
.grid27 > .col12 { width: 44.4444444444% }
.grid27 > .col13 { width: 48.1481481481% }
.grid27 > .col14 { width: 51.8518518519% }
.grid27 > .col15 { width: 55.5555555556% }
.grid27 > .col16 { width: 59.2592592593% }
.grid27 > .col17 { width: 62.962962963% }
.grid27 > .col18 { width: 66.6666666667% }
.grid27 > .col19 { width: 70.3703703704% }
.grid27 > .col20 { width: 74.0740740741% }
.grid27 > .col21 { width: 77.7777777778% }
.grid27 > .col22 { width: 81.4814814815% }
.grid27 > .col23 { width: 85.1851851852% }
.grid27 > .col24 { width: 88.8888888889% }
.grid27 > .col25 { width: 92.5925925926% }
.grid27 > .col26 { width: 96.2962962963% }
.grid27 > .col27 { width: 100% }

.grid28 > .col1 { width: 3.5714285714% }
.grid28 > .col2 { width: 7.1428571429% }
.grid28 > .col3 { width: 10.7142857143% }
.grid28 > .col4 { width: 14.2857142857% }
.grid28 > .col5 { width: 17.8571428571% }
.grid28 > .col6 { width: 21.4285714286% }
.grid28 > .col7 { width: 25% }
.grid28 > .col8 { width: 28.5714285714% }
.grid28 > .col9 { width: 32.1428571429% }
.grid28 > .col10 { width: 35.7142857143% }
.grid28 > .col11 { width: 39.2857142857% }
.grid28 > .col12 { width: 42.8571428571% }
.grid28 > .col13 { width: 46.4285714286% }
.grid28 > .col14 { width: 50% }
.grid28 > .col15 { width: 53.5714285714% }
.grid28 > .col16 { width: 57.1428571429% }
.grid28 > .col17 { width: 60.7142857143% }
.grid28 > .col18 { width: 64.2857142857% }
.grid28 > .col19 { width: 67.8571428571% }
.grid28 > .col20 { width: 71.4285714286% }
.grid28 > .col21 { width: 75% }
.grid28 > .col22 { width: 78.5714285714% }
.grid28 > .col23 { width: 82.1428571429% }
.grid28 > .col24 { width: 85.7142857143% }
.grid28 > .col25 { width: 89.2857142857% }
.grid28 > .col26 { width: 92.8571428571% }
.grid28 > .col27 { width: 96.4285714286% }
.grid28 > .col28 { width: 100% }

.grid29 > .col1 { width: 3.4482758621% }
.grid29 > .col2 { width: 6.8965517241% }
.grid29 > .col3 { width: 10.3448275862% }
.grid29 > .col4 { width: 13.7931034483% }
.grid29 > .col5 { width: 17.2413793103% }
.grid29 > .col6 { width: 20.6896551724% }
.grid29 > .col7 { width: 24.1379310345% }
.grid29 > .col8 { width: 27.5862068966% }
.grid29 > .col9 { width: 31.0344827586% }
.grid29 > .col10 { width: 34.4827586207% }
.grid29 > .col11 { width: 37.9310344828% }
.grid29 > .col12 { width: 41.3793103448% }
.grid29 > .col13 { width: 44.8275862069% }
.grid29 > .col14 { width: 48.275862069% }
.grid29 > .col15 { width: 51.724137931% }
.grid29 > .col16 { width: 55.1724137931% }
.grid29 > .col17 { width: 58.6206896552% }
.grid29 > .col18 { width: 62.0689655172% }
.grid29 > .col19 { width: 65.5172413793% }
.grid29 > .col20 { width: 68.9655172414% }
.grid29 > .col21 { width: 72.4137931034% }
.grid29 > .col22 { width: 75.8620689655% }
.grid29 > .col23 { width: 79.3103448276% }
.grid29 > .col24 { width: 82.7586206897% }
.grid29 > .col25 { width: 86.2068965517% }
.grid29 > .col26 { width: 89.6551724138% }
.grid29 > .col27 { width: 93.1034482759% }
.grid29 > .col28 { width: 96.5517241379% }
.grid29 > .col29 { width: 100% }

.grid30 > .col1 { width: 3.3333333333% }
.grid30 > .col2 { width: 6.6666666667% }
.grid30 > .col3 { width: 10% }
.grid30 > .col4 { width: 13.3333333333% }
.grid30 > .col5 { width: 16.6666666667% }
.grid30 > .col6 { width: 20% }
.grid30 > .col7 { width: 23.3333333333% }
.grid30 > .col8 { width: 26.6666666667% }
.grid30 > .col9 { width: 30% }
.grid30 > .col10 { width: 33.3333333333% }
.grid30 > .col11 { width: 36.6666666667% }
.grid30 > .col12 { width: 40% }
.grid30 > .col13 { width: 43.3333333333% }
.grid30 > .col14 { width: 46.6666666667% }
.grid30 > .col15 { width: 50% }
.grid30 > .col16 { width: 53.3333333333% }
.grid30 > .col17 { width: 56.6666666667% }
.grid30 > .col18 { width: 60% }
.grid30 > .col19 { width: 63.3333333333% }
.grid30 > .col20 { width: 66.6666666667% }
.grid30 > .col21 { width: 70% }
.grid30 > .col22 { width: 73.3333333333% }
.grid30 > .col23 { width: 76.6666666667% }
.grid30 > .col24 { width: 80% }
.grid30 > .col25 { width: 83.3333333333% }
.grid30 > .col26 { width: 86.6666666667% }
.grid30 > .col27 { width: 90% }
.grid30 > .col28 { width: 93.3333333333% }
.grid30 > .col29 { width: 96.6666666667% }
.grid30 > .col30 { width: 100% }
