.td-border > tr > td {
    border: 1px solid black;
}

.td-input-custom > tr > td > input {
    border: none;
    outline: none;
    padding: 5px 10px;
}

.td-button-custom > tr > td > button {
    border: none;
    padding: 5px;
    background: transparent;
    color: red;
}
