// https://developer.mozilla.org/en-US/docs/Web/CSS/border

@mixin xborder
    border: none

@mixin xborder-t
    border-top: none

@mixin xborder-l
    border-left: none

@mixin xborder-r
    border-right: none

@mixin xborder-b
    border-bottom: none

@mixin xborder-v
    border-top: none
    border-bottom: none

@mixin xborder-h
    border-left: none
    border-right: none

@mixin xborder-vl
    border-top: none
    border-left: none
    border-bottom: none

@mixin xborder-vr
    border-top: none
    border-right: none
    border-bottom: none

@mixin xborder-ht
    border-top: none
    border-left: none
    border-right: none

@mixin xborder-hb
    border-left: none
    border-right: none
    border-bottom: none

@mixin border
    border: 1px solid currentColor

@mixin dashed
    border: 1px dashed currentColor

@mixin xbr
    border-radius: 0

@mixin br($size)
    @include eval-size(border-radius, $size)
