@mixin cur-alias
    cursor: alias

@mixin cur-all-scroll
    cursor: all-scroll

@mixin cur-auto
    cursor: auto

@mixin cur-cell
    cursor: cell

@mixin cur-col-resize
    cursor: col-resize

@mixin cur-context-menu
    cursor: context-menu

@mixin cur-copy
    cursor: copy

@mixin cur-crosshair
    cursor: crosshair

@mixin cur-default
    cursor: default

@mixin cur-e-resize
    cursor: e-resize

@mixin cur-ew-resize
    cursor: ew-resize

@mixin cur-help
    cursor: help

@mixin cur-inherit
    cursor: inherit

@mixin cur-initial
    cursor: initial

@mixin cur-move
    cursor: move

@mixin cur-n-resize
    cursor: n-resize

@mixin cur-ne-resize
    cursor: ne-resize

@mixin cur-nesw-resize
    cursor: nesw-resize

@mixin cur-no-drop
    cursor: no-drop

@mixin cur-none
    cursor: none

@mixin cur-not-allowed
    cursor: not-allowed

@mixin cur-ns-resize
    cursor: ns-resize

@mixin cur-nw-resize
    cursor: nw-resize

@mixin cur-nwse-resize
    cursor: nwse-resize

@mixin cur-pointer
    cursor: pointer

@mixin cur-progress
    cursor: progress

@mixin cur-row-resize
    cursor: row-resize

@mixin cur-s-resize
    cursor: s-resize

@mixin cur-se-resize
    cursor: se-resize

@mixin cur-sw-resize
    cursor: sw-resize

@mixin cur-text
    cursor: text

@mixin cur-vertical-text
    cursor: vertical-text

@mixin cur-w-resize
    cursor: w-resize

@mixin cur-wait
    cursor: wait
