// https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
//
// How a replaced element (img, video) fills the box its wN/hN give it.

@mixin fit-none
    object-fit: none

@mixin fit-fill
    object-fit: fill

@mixin fit-contain
    object-fit: contain

@mixin fit-cover
    object-fit: cover

@mixin fit-scale-down
    object-fit: scale-down
