@mixin stat
    position: static

@mixin rel
    position: relative

@mixin abs
    position: absolute

@mixin abs-c
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

@mixin abs-cr
    position: absolute
    top: 50%
    right: 0
    transform: translate(0, -50%)

@mixin abs-cr-cl
    position: absolute
    top: 50%
    right: 0
    transform: translate(100%, -50%)

@mixin abs-cl
    position: absolute
    top: 50%
    left: 0
    transform: translate(0, -50%)

@mixin abs-cl-cr
    position: absolute
    top: 50%
    left: 0
    transform: translate(-100%, -50%)

@mixin abs-ct
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%, 0)

@mixin abs-ct-cb
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%, -100%)

@mixin abs-cb
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%, 0)

@mixin abs-cb-ct
    position: absolute
    top: 100%
    left: 50%
    transform: translate(-50%, 0%)

@mixin abs-t
    position: absolute
    top: 0
    left: 0
    right: 0

@mixin abs-tl
    position: absolute
    top: 0
    left: 0

@mixin abs-tl-br
    position: absolute
    top: 0
    left: 0
    transform: translate(-100%, -100%)

@mixin abs-tl-tr
    position: absolute
    top: 0
    left: 0
    transform: translate(-100%, 0)

@mixin abs-tr
    position: absolute
    top: 0
    right: 0

@mixin abs-bl
    position: absolute
    bottom: 0
    left: 0

@mixin abs-bl-ct
    position: absolute
    bottom: 0
    left: 0
    transform: translate(-50%, 100%)

@mixin abs-br
    position: absolute
    bottom: 0
    right: 0

@mixin abs-br-ct
    position: absolute
    bottom: 0
    right: 0
    transform: translate(50%, 100%)

@mixin abs-br-tr
    position: absolute
    bottom: 100%
    right: 0

@mixin fix
    position: fixed

// fix fill
@mixin fix-f
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0

@mixin fix-t
    position: fixed
    top: 0
    left: 0
    right: 0

@mixin fix-b
    position: fixed
    left: 0
    right: 0
    bottom: 0

@mixin fix-l
    position: fixed
    top: 0
    left: 0
    bottom: 0

@mixin fix-r
    position: fixed
    top: 0
    right: 0
    bottom: 0

@mixin fix-c
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

@mixin fix-ct
    position: fixed
    top: 0
    left: 50%
    transform: translate(-50%, 0)

@mixin tlbr($size: 0)
    @include eval-size(top, $size)
    @include eval-size(left, $size)
    @include eval-size(right, $size)
    @include eval-size(bottom, $size)

@mixin t($size)
    @include eval-size(top, $size)

@mixin l($size: '')
    @if $size == '' // special case (see align.sass)
        text-align: left
    @else
        @include eval-size(left, $size)

@mixin r($size: '')
    @if $size == '' // special case (see align.sass)
        text-align: right
    @else
        @include eval-size(right, $size)

@mixin b($size: '')
    @if $size == '' // special case (see font.sass)
        font-weight: bold
    @else
        @include eval-size(bottom, $size)

//@mixin ta
//    top: auto
//
//@mixin la
//    left: auto
//
//@mixin ra
//    right: auto
//
//@mixin ba
//    bottom: auto
