@mixin hflip
    transform: scale(-1, 1)

@mixin vflip
    transform: scale(1, -1)

@mixin scale($percent)
    transform: scale(to-number($percent) / 100)

@mixin rotate($angle)
    transform: rotate(to-number($angle) * 1deg)
