/**
 * Installation
 * ============
 *
 * $ autoprefixer transition.orig.css -o transition.css
 *
 */

.transition-opacity {
    transition: opacity .5s ease-in-out;
}

.transition-opacity-1000ms {
    transition: opacity 1000ms;
}

.transition-opacity-250ms {
    transition: opacity 250ms;
}
