/* background */

.xbg { background: none; }

/* http://css-tricks.com/perfect-full-page-background-image/ */
.background-cover {
    background: transparent no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Simple backgrounds for debugging */

.black { background: #000; }
.gray { background: #888; }
.silver { background: #ccc; }
.white { background: #fff; }
.red { background: #f88; }
.green { background: #8f8; }
.blue { background: #88f; }
.yellow { background: #ff8; }
.cyan { background: #8ff; }

.bg888 { background: #888; }
.bg88f { background: #88f; }
.bg8f8 { background: #8f8; }
.bg8ff { background: #8ff; }
.bgf88 { background: #f88; }
.bgf8f { background: #f8f; }
.bgff8 { background: #ff8; }
.bgfff { background: #fff; }

.rainbow > :nth-child(1n) {
    background: #f88;
}

.rainbow > :nth-child(2n) {
    background: #8f8;
}

.rainbow > :nth-child(3n) {
    background: #88f;
}

.gray-rainbow > :nth-child(1n) {
    background: #bbb;
}

.gray-rainbow > :nth-child(2n) {
    background: #ccc;
}
