/* background */

/* http://css-tricks.com/perfect-full-page-background-image/ */
.background-cover {
    background: transparent no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* simple backgrounds for debugging */

.bg888 { background: #888; }
.bg88f { background: #88f; }
.bg8f8 { background: #8f8; }
.bg8ff { background: #8ff; }
.bgf88 { background: #f88; }
.bgf8f { background: #f8f; }
.bgff8 { background: #ff8; }
.bgfff { background: #fff; }

.xbg { background: none; }
