/* border radius */

.br0 { border-radius: 0; }
.br5 { border-radius: 5px; }
.br10 { border-radius: 10px; }
.br15 { border-radius: 15px; }
.br20 { border-radius: 20px; }
.br25 { border-radius: 25px; }
.br30 { border-radius: 30px; }

/* obsolete */ .xbr { border-radius: 0; }
