/* display-flex */
/* https://scotch.io/tutorials/a-visual-guide-to-css3-flexbox-properties */

.flex-row,
.flex-row-center {
    display: flex;
    flex-direction: row;
}

.flex-row-center {
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.flex { display: flex; }

.flex-dir-row { flex-direction: row; }
.flex-dir-row-r { flex-direction: row-reverse; }
.flex-dir-col { flex-direction: column; }
.flex-dir-col-r { flex-direction: column-reverse; }

.flex-align-start { align-items: flex-start; }
.flex-align-end { align-items: flex-end; }
.flex-align-center { align-items: center; }
.flex-align-baseline { align-items: baseline; }
.flex-align-stretch { align-items: stretch; }

.flex-justify-start { justify-content: flex-start; }
.flex-justify-end { justify-content: flex-end; }
.flex-justify-center { justify-content: center; }
.flex-justify-between { justify-content: space-between; }
.flex-justify-around { justify-content: space-around; }
