/* display-flex */

/* References
 *
 * https://github.com/philipwalton/flexbugs
 * https://scotch.io/tutorials/a-visual-guide-to-css3-flexbox-properties
 */

.flex,
.flex-rows,
.flex-rows-center,
.flex-cols,
.flex-cols-center,
/* obsolete */ .flex-row,
/* obsolete */ .flex-row-center,
/* obsolete */ .flex-column,
/* obsolete */ .flex-column-center
{
    display: flex;
}

.flex-rows,
.flex-rows-center,
/* obsolete */ .flex-row,
/* obsolete */ .flex-row-center {
    flex-direction: row;
}

.flex-cols-center,
.flex-rows-center,
/* obsolete */ .flex-row-center {
    align-items: center;
    justify-content: center;
}

.flex-cols,
.flex-cols-center,
/* obsolete */ .flex-column {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

/* obsolete */ .flex-dir-row { flex-direction: row; }
/* obsolete */ .flex-dir-row-r { flex-direction: row-reverse; }
/* obsolete */ .flex-dir-col { flex-direction: column; }
/* obsolete */ .flex-dir-col-r { flex-direction: column-reverse; }

.flex-align-start { align-items: flex-start; }
.flex-align-end { align-items: flex-end; }
.flex-align-center { align-items: center; }
.flex-align-baseline { align-items: baseline; }
.flex-align-stretch { align-items: stretch; }

.flex-justify-start { justify-content: flex-start; }
.flex-justify-end { justify-content: flex-end; }
.flex-justify-center { justify-content: center; }
.flex-justify-between { justify-content: space-between; }
.flex-justify-around { justify-content: space-around; }

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-rev {
    flex-wrap: wrap-reverse;
}
