.flex-wrap, .flex, .flex-rows, .flex-rows-center, .flex-cols, .flex-cols-center, .flex-align-start, .flex-align-end, .flex-align-center, .flex-align-baseline, .flex-align-stretch, .flex-justify-start, .flex-justify-end, .flex-justify-center, .flex-justify-between, .flex-justify-around, .flex-grow {
  display: flex;
  flex-wrap: wrap; }

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap; }

.flex-wrap-rev {
  display: flex;
  flex-wrap: wrap-reverse; }

.flex-rows, .flex-rows-center {
  flex-direction: row; }

.flex-rows-center {
  align-items: center;
  justify-content: center; }

.flex-cols, .flex-cols-center {
  flex-direction: column; }

.flex-cols-center {
  align-items: center;
  justify-content: center; }

.flex-align-start {
  align-items: flex-start; }

.flex-align-end {
  align-items: flex-end; }

.flex-align-center {
  align-items: center; }

.flex-align-baseline {
  align-items: baseline; }

.flex-align-stretch {
  align-items: stretch; }

.flex-justify-start {
  justify-content: flex-start; }

.flex-justify-end {
  justify-content: flex-end; }

.flex-justify-center {
  justify-content: center; }

.flex-justify-between {
  justify-content: space-between; }

.flex-justify-around {
  justify-content: space-around; }

.flex-grow {
  flex-grow: 1; }
