/* font-weight */

/* http://www.google.com/webfonts/specimen/Open+Sans
 * http://www.google.com/webfonts#UsePlace:use/Collection:Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800
 * Book 300
 * Normal 400
 * Semi-Bold 600
 * Bold 700
 * Extra-Bold 800 */

.b { font-weight: bold; }
.bb { font-weight: 800; }
.b3 { font-weight: 300; }
.b4 { font-weight: 400; }
.b5 { font-weight: 500; }
.b6 { font-weight: 600; }
.b7 { font-weight: 700; }
.b8 { font-weight: 800; }

.h-b:hover { font-weight: bold; }
.h-bb:hover { font-weight: 800; }
.h-b3:hover { font-weight: 300; }
.h-b4:hover { font-weight: 400; }
.h-b5:hover { font-weight: 500; }
.h-b6:hover { font-weight: 600; }
.h-b7:hover { font-weight: 700; }
.h-b8:hover { font-weight: 800; }

.xb { font-weight: normal; }
.h-xb:hover { font-weight: normal; }
