/* font size */

.fs0 { font-size: 0; }
.fs1 { font-size: 1px; }
.fs2 { font-size: 2px; }
.fs3 { font-size: 3px; }
.fs4 { font-size: 4px; }
.fs5 { font-size: 5px; }
.fs6 { font-size: 6px; }
.fs7 { font-size: 7px; }
.fs8 { font-size: 8px; }
.fs9 { font-size: 9px; }
.fs10 { font-size: 10px; }
.fs11 { font-size: 11px; }
.fs12 { font-size: 12px; }
.fs13 { font-size: 13px; }
.fs14 { font-size: 14px; }
.fs15 { font-size: 15px; }
.fs16 { font-size: 16px; }
.fs17 { font-size: 17px; }
.fs18 { font-size: 18px; }
.fs19 { font-size: 19px; }
.fs20 { font-size: 20px; }
.fs21 { font-size: 21px; }
.fs22 { font-size: 22px; }
.fs23 { font-size: 23px; }
.fs24 { font-size: 24px; }
.fs25 { font-size: 25px; }
.fs26 { font-size: 26px; }
.fs27 { font-size: 27px; }
.fs28 { font-size: 28px; }
.fs29 { font-size: 29px; }
.fs30 { font-size: 30px; }
.fs31 { font-size: 31px; }
.fs32 { font-size: 32px; }
.fs33 { font-size: 33px; }
.fs34 { font-size: 34px; }
.fs35 { font-size: 35px; }
.fs36 { font-size: 36px; }
.fs37 { font-size: 37px; }
.fs38 { font-size: 38px; }
.fs39 { font-size: 39px; }
.fs40 { font-size: 40px; }
.fs41 { font-size: 41px; }
.fs42 { font-size: 42px; }
.fs43 { font-size: 43px; }
.fs44 { font-size: 44px; }
.fs45 { font-size: 45px; }
.fs46 { font-size: 46px; }
.fs47 { font-size: 47px; }
.fs48 { font-size: 48px; }
.fs49 { font-size: 49px; }
.fs50 { font-size: 50px; }
.fs51 { font-size: 51px; }
.fs52 { font-size: 52px; }
.fs53 { font-size: 53px; }
.fs54 { font-size: 54px; }
.fs55 { font-size: 55px; }
.fs56 { font-size: 56px; }
.fs57 { font-size: 57px; }
.fs58 { font-size: 58px; }
.fs59 { font-size: 59px; }
.fs60 { font-size: 60px; }
.fs61 { font-size: 61px; }
.fs62 { font-size: 62px; }
.fs63 { font-size: 63px; }
.fs64 { font-size: 64px; }
.fs65 { font-size: 65px; }
.fs66 { font-size: 66px; }
.fs67 { font-size: 67px; }
.fs68 { font-size: 68px; }
.fs69 { font-size: 69px; }
.fs70 { font-size: 70px; }
.fs71 { font-size: 71px; }
.fs72 { font-size: 72px; }
.fs73 { font-size: 73px; }
.fs74 { font-size: 74px; }
.fs75 { font-size: 75px; }
.fs76 { font-size: 76px; }
.fs77 { font-size: 77px; }
.fs78 { font-size: 78px; }
.fs79 { font-size: 79px; }
.fs80 { font-size: 80px; }
.fs81 { font-size: 81px; }
.fs82 { font-size: 82px; }
.fs83 { font-size: 83px; }
.fs84 { font-size: 84px; }
.fs85 { font-size: 85px; }
.fs86 { font-size: 86px; }
.fs87 { font-size: 87px; }
.fs88 { font-size: 88px; }
.fs89 { font-size: 89px; }
.fs90 { font-size: 90px; }
.fs91 { font-size: 91px; }
.fs92 { font-size: 92px; }
.fs93 { font-size: 93px; }
.fs94 { font-size: 94px; }
.fs95 { font-size: 95px; }
.fs96 { font-size: 96px; }
.fs97 { font-size: 97px; }
.fs98 { font-size: 98px; }
.fs99 { font-size: 99px; }
