/**
 * Dictionary for creating layouts from TABLE elements
 *
 * .tbody-*** whole TBODY as a unit
 * .tr-*** each row as a unit
 * .td-*** each cell as a unit
 *
 */

/**
 * Note about specificity
 * ======================
 *
 * In order to be able to override propertines from TD elements,
 * it is necessary, in here, to use CSS selectors with as low
 * specificity as possible...
 *
 * Using https://specificity.keegan.st/
 *
 * * 13 for .tbody-pg6 > tr + tr > td
 * * 22 for .tbody-pg6 > tr:nth-child(n+2) > td
 *
 * .mg***, .mig***, .pg***, and .pig*** was build around :nth-child,
 * so they specificity will be higher.
 */

.tbody-pg6 > tr + tr > td {
    padding-top: 3px;
}

.tbody-pg6 > tr + tr:not(:last-child) > td {
    padding-bottom: 3px;
}




.tbody-p5 > tr:first-child > td {
    padding-top: 5px;
}

.tbody-p5 > tr:last-child > td {
    padding-bottom: 5px;
}

.tbody-p5 > tr > td:first-child {
    padding-left: 5px;
}

.tbody-p5 > tr > td:last-child {
    padding-right: 5px;
}



.tbody-ph5 > tr:first-child > td {
    padding-top: 5px;
}

.tbody-ph5 > tr:last-child > td {
    padding-bottom: 5px;
}



.tr-pig5 > tr > td + td {
    padding-left: 5px;
}



.tr-ph5 > tr > td:first-child {
    padding-left: 5px;
}

.tr-ph5 > tr > td:last-child {
    padding-right: 5px;
}



.td-mig5 > tr > td > * + * {
    margin-left: 5px;
}
