/* line height */

/* XXX
 *
 * FireFox UA Stylesheet
 * resource://gre-resources/forms.css
 * > input {
 * >	[...]
 * >	line-height: normal !important;
 * >	[...]
 * > }
 *
 * http://www.456bereastreet.com/archive/201108/line-height_in_input_fields/
 * > The problem is !important, which makes it impossible to override
 * > this rule from an author stylesheet, not even if you use
 * > !important. This has been discussed for years in the
 * >
 * >	CSS Property line-height has no effects on input text fields bug
 * >	https://bugzilla.mozilla.org/show_bug.cgi?id=349259
 * >
 * > It currently doesn't look like a fix is coming any time soon.
 *
 * Blog: Bulletproof CSS input button heights
 * http://cbjdigital.com/blog/2010/08/bulletproof_css_input_button_heights
 * > - Disabled top and bottom padding
 * > - Set the height of the button to be 40px tall
 * > - Set vertical-align to middle
 */

.lh8 { line-height: 8px; }
.lh9 { line-height: 9px; }
.lh10 { line-height: 10px; }
.lh11 { line-height: 11px; }
.lh12 { line-height: 12px; }
.lh13 { line-height: 13px; }
.lh14 { line-height: 14px; }
.lh15 { line-height: 15px; }
.lh16 { line-height: 16px; }
.lh17 { line-height: 17px; }
.lh18 { line-height: 18px; }
.lh19 { line-height: 19px; }
.lh20 { line-height: 20px; }
.lh21 { line-height: 21px; }
.lh22 { line-height: 22px; }
.lh23 { line-height: 23px; }
.lh24 { line-height: 24px; }
.lh25 { line-height: 25px; }
.lh26 { line-height: 26px; }
.lh27 { line-height: 27px; }
.lh28 { line-height: 28px; }
.lh29 { line-height: 29px; }
.lh30 { line-height: 30px; }
.lh31 { line-height: 31px; }
.lh32 { line-height: 32px; }
.lh33 { line-height: 33px; }
.lh34 { line-height: 34px; }
.lh35 { line-height: 35px; }
.lh36 { line-height: 36px; }
.lh37 { line-height: 37px; }
.lh38 { line-height: 38px; }
.lh39 { line-height: 39px; }
.lh40 { line-height: 40px; }
.lh41 { line-height: 41px; }
.lh42 { line-height: 42px; }
.lh43 { line-height: 43px; }
.lh44 { line-height: 44px; }
.lh45 { line-height: 45px; }
.lh46 { line-height: 46px; }
.lh47 { line-height: 47px; }
.lh48 { line-height: 48px; }
.lh49 { line-height: 49px; }
.lh50 { line-height: 50px; }
.lh51 { line-height: 51px; }
.lh52 { line-height: 52px; }
.lh53 { line-height: 53px; }
.lh54 { line-height: 54px; }
.lh55 { line-height: 55px; }
.lh56 { line-height: 56px; }
.lh57 { line-height: 57px; }
.lh58 { line-height: 58px; }
.lh59 { line-height: 59px; }
.lh60 { line-height: 60px; }
.lh61 { line-height: 61px; }
.lh62 { line-height: 62px; }
.lh63 { line-height: 63px; }
.lh64 { line-height: 64px; }
.lh65 { line-height: 65px; }
.lh66 { line-height: 66px; }
.lh67 { line-height: 67px; }
.lh68 { line-height: 68px; }
.lh69 { line-height: 69px; }
.lh70 { line-height: 70px; }
.lh71 { line-height: 71px; }
.lh72 { line-height: 72px; }
.lh73 { line-height: 73px; }
.lh74 { line-height: 74px; }
.lh75 { line-height: 75px; }
.lh76 { line-height: 76px; }
.lh77 { line-height: 77px; }
.lh78 { line-height: 78px; }
.lh79 { line-height: 79px; }
.lh80 { line-height: 80px; }
.lh81 { line-height: 81px; }
.lh82 { line-height: 82px; }
.lh83 { line-height: 83px; }
.lh84 { line-height: 84px; }
.lh85 { line-height: 85px; }
.lh86 { line-height: 86px; }
.lh87 { line-height: 87px; }
.lh88 { line-height: 88px; }
.lh89 { line-height: 89px; }
.lh90 { line-height: 90px; }
.lh91 { line-height: 91px; }
.lh92 { line-height: 92px; }
.lh93 { line-height: 93px; }
.lh94 { line-height: 94px; }
.lh95 { line-height: 95px; }
.lh96 { line-height: 96px; }
.lh97 { line-height: 97px; }
.lh98 { line-height: 98px; }
.lh99 { line-height: 99px; }

.lh05m { line-height: 0.5em; }
.lh10m { line-height: 1.0em; }
.lh15m { line-height: 1.5em; }
.lh20m { line-height: 2.0em; }
.lh25m { line-height: 2.5em; }
.lh30m { line-height: 3.0em; }
.lh35m { line-height: 3.5em; }
.lh40m { line-height: 4.0em; }
.lh45m { line-height: 4.5em; }
.lh50m { line-height: 5.0em; }
.lh55m { line-height: 5.5em; }
.lh60m { line-height: 6.0em; }
.lh65m { line-height: 6.5em; }
.lh70m { line-height: 7.0em; }
.lh75m { line-height: 7.5em; }
.lh80m { line-height: 8.0em; }
.lh85m { line-height: 8.5em; }
.lh90m { line-height: 9.0em; }
.lh95m { line-height: 9.5em; }
