/* margin */

.r-m * { margin: 0; }

/* .ma should come before .m* in order to allow the latter to override it */

.ma { margin: auto; }
.xm { margin: 0; }

.m5 { margin: 5px; }
.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m20 { margin: 20px; }
.m25 { margin: 25px; }
.m30 { margin: 30px; }
.m35 { margin: 35px; }
.m40 { margin: 40px; }
.m45 { margin: 45px; }
.m50 { margin: 50px; }

/* .mv* and .mh* should come after .ma and .m* in order to override them partially */

.mv5 { margin-top: 5px; margin-bottom: 5px; }
.mv10 { margin-top: 10px; margin-bottom: 10px; }
.mv15 { margin-top: 15px; margin-bottom: 15px; }
.mv20 { margin-top: 20px; margin-bottom: 20px; }
.mv25 { margin-top: 25px; margin-bottom: 25px; }
.mv30 { margin-top: 30px; margin-bottom: 30px; }
.mv35 { margin-top: 35px; margin-bottom: 35px; }
.mv40 { margin-top: 40px; margin-bottom: 40px; }
.mv45 { margin-top: 45px; margin-bottom: 45px; }
.mv50 { margin-top: 50px; margin-bottom: 50px; }

.mh5 { margin-left: 5px; margin-right: 5px; }
.mh10 { margin-left: 10px; margin-right: 10px; }
.mh15 { margin-left: 15px; margin-right: 15px; }
.mh20 { margin-left: 20px; margin-right: 20px; }
.mh25 { margin-left: 25px; margin-right: 25px; }
.mh30 { margin-left: 30px; margin-right: 30px; }
.mh35 { margin-left: 35px; margin-right: 35px; }
.mh40 { margin-left: 40px; margin-right: 40px; }
.mh45 { margin-left: 45px; margin-right: 45px; }
.mh50 { margin-left: 50px; margin-right: 50px; }

/* .ml*, .mr*, .mt*, and .mb* should come after .m*, .mv*, and .mh* */

.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml35 { margin-left: 35px; }
.ml40 { margin-left: 40px; }
.ml45 { margin-left: 45px; }
.ml50 { margin-left: 50px; }
.ml55 { margin-left: 55px; }
.ml60 { margin-left: 60px; }
.ml65 { margin-left: 65px; }
.ml70 { margin-left: 70px; }
.ml75 { margin-left: 75px; }
.ml80 { margin-left: 80px; }
.ml85 { margin-left: 85px; }
.ml90 { margin-left: 90px; }
.ml95 { margin-left: 95px; }

.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }
.mr35 { margin-right: 35px; }
.mr40 { margin-right: 40px; }
.mr45 { margin-right: 45px; }
.mr50 { margin-right: 50px; }
.mr60 { margin-right: 60px; }
.mr65 { margin-right: 65px; }
.mr70 { margin-right: 70px; }
.mr75 { margin-right: 75px; }
.mr80 { margin-right: 80px; }
.mr85 { margin-right: 85px; }
.mr90 { margin-right: 90px; }
.mr95 { margin-right: 95px; }

.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }
.mt40 { margin-top: 40px; }
.mt45 { margin-top: 45px; }
.mt50 { margin-top: 50px; }
.mt100 { margin-top: 100px; }

.mt10m { margin-top: 1.0em; }
.mt15m { margin-top: 1.5em; }
.mt20m { margin-top: 2.0em; }
.mt25m { margin-top: 2.5em; }
.mt30m { margin-top: 3.0em; }
.mt35m { margin-top: 3.5em; }
.mt40m { margin-top: 4.0em; }
.mt45m { margin-top: 4.5em; }
.mt50m { margin-top: 5.0em; }

.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb45 { margin-bottom: 45px; }
.mb50 { margin-bottom: 50px; }

/* shift */

.s5 { margin: -5px; }
.s10 { margin: -10px; }
.s15 { margin: -15px; }
.s20 { margin: -20px; }
.s25 { margin: -25px; }
.s30 { margin: -30px; }
.s35 { margin: -35px; }
.s40 { margin: -40px; }
.s45 { margin: -45px; }
.s50 { margin: -50px; }

.s05m { margin: -0.5em; }
.s10m { margin: -1.0em; }
.s15m { margin: -1.5em; }
.s20m { margin: -2.0em; }
.s25m { margin: -2.5em; }
.s30m { margin: -3.0em; }
.s35m { margin: -3.5em; }
.s40m { margin: -4.0em; }
.s45m { margin: -4.5em; }
.s50m { margin: -5.0em; }

/* .sv*, and .sh* should come after .s* */

.sv5 { margin-top: -5px; margin-bottom: -5px; }
.sv10 { margin-top: -10px; margin-bottom: -10px; }
.sv15 { margin-top: -15px; margin-bottom: -15px; }
.sv20 { margin-top: -20px; margin-bottom: -20px; }
.sv25 { margin-top: -25px; margin-bottom: -25px; }
.sv30 { margin-top: -30px; margin-bottom: -30px; }
.sv35 { margin-top: -35px; margin-bottom: -35px; }
.sv40 { margin-top: -40px; margin-bottom: -40px; }
.sv45 { margin-top: -45px; margin-bottom: -45px; }
.sv50 { margin-top: -50px; margin-bottom: -50px; }

.sv05m { margin-top: -0.5em; margin-bottom: -0.5em; }
.sv10m { margin-top: -1.0em; margin-bottom: -1.0em; }
.sv15m { margin-top: -1.5em; margin-bottom: -1.5em; }
.sv20m { margin-top: -2.0em; margin-bottom: -2.0em; }
.sv25m { margin-top: -2.5em; margin-bottom: -2.5em; }
.sv30m { margin-top: -3.0em; margin-bottom: -3.0em; }
.sv35m { margin-top: -3.5em; margin-bottom: -3.5em; }
.sv40m { margin-top: -4.0em; margin-bottom: -4.0em; }
.sv45m { margin-top: -4.5em; margin-bottom: -4.5em; }
.sv50m { margin-top: -5.0em; margin-bottom: -5.0em; }

.sh5 { margin-left: -5px; margin-right: -5px; }
.sh10 { margin-left: -10px; margin-right: -10px; }
.sh15 { margin-left: -15px; margin-right: -15px; }
.sh20 { margin-left: -20px; margin-right: -20px; }
.sh25 { margin-left: -25px; margin-right: -25px; }
.sh30 { margin-left: -30px; margin-right: -30px; }
.sh35 { margin-left: -35px; margin-right: -35px; }
.sh40 { margin-left: -40px; margin-right: -40px; }
.sh45 { margin-left: -45px; margin-right: -45px; }
.sh50 { margin-left: -50px; margin-right: -50px; }

.sh05m { margin-left: -0.5em; margin-right: -0.5em; }
.sh10m { margin-left: -1.0em; margin-right: -1.0em; }
.sh15m { margin-left: -1.5em; margin-right: -1.5em; }
.sh20m { margin-left: -2.0em; margin-right: -2.0em; }
.sh25m { margin-left: -2.5em; margin-right: -2.5em; }
.sh30m { margin-left: -3.0em; margin-right: -3.0em; }
.sh35m { margin-left: -3.5em; margin-right: -3.5em; }
.sh40m { margin-left: -4.0em; margin-right: -4.0em; }
.sh45m { margin-left: -4.5em; margin-right: -4.5em; }
.sh50m { margin-left: -5.0em; margin-right: -5.0em; }

/* .sl*, .sr*, .st*, and .sb* should come after .s*, .sv*, and .sh* */

.sl5 { margin-left: -5px; }
.sl10 { margin-left: -10px; }
.sl15 { margin-left: -15px; }
.sl20 { margin-left: -20px; }
.sl25 { margin-left: -25px; }
.sl30 { margin-left: -30px; }
.sl35 { margin-left: -35px; }
.sl40 { margin-left: -40px; }
.sl45 { margin-left: -45px; }
.sl50 { margin-left: -50px; }

.sl05m { margin-left: -0.5em; }
.sl10m { margin-left: -1.0em; }
.sl15m { margin-left: -1.5em; }
.sl20m { margin-left: -2.0em; }
.sl25m { margin-left: -2.5em; }
.sl30m { margin-left: -3.0em; }
.sl35m { margin-left: -3.5em; }
.sl40m { margin-left: -4.0em; }
.sl45m { margin-left: -4.5em; }
.sl50m { margin-left: -5.0em; }

.sr5 { margin-right: -5px; }
.sr10 { margin-right: -10px; }
.sr15 { margin-right: -15px; }
.sr20 { margin-right: -20px; }
.sr25 { margin-right: -25px; }
.sr30 { margin-right: -30px; }
.sr35 { margin-right: -35px; }
.sr40 { margin-right: -40px; }
.sr45 { margin-right: -45px; }
.sr50 { margin-right: -50px; }

.st5 { margin-top: -5px; }
.st10 { margin-top: -10px; }
.st15 { margin-top: -15px; }
.st20 { margin-top: -20px; }
.st25 { margin-top: -25px; }
.st30 { margin-top: -30px; }
.st35 { margin-top: -35px; }
.st40 { margin-top: -40px; }
.st45 { margin-top: -45px; }
.st50 { margin-top: -50px; }

.sb5 { margin-bottom: -5px; }
.sb10 { margin-bottom: -10px; }
.sb15 { margin-bottom: -15px; }
.sb20 { margin-bottom: -20px; }
.sb25 { margin-bottom: -25px; }
.sb30 { margin-bottom: -30px; }
.sb35 { margin-bottom: -35px; }
.sb40 { margin-bottom: -40px; }
.sb45 { margin-bottom: -45px; }
.sb50 { margin-bottom: -50px; }

/*
/!* margin center *!/
.mc { margin: 0 auto; }
*/

/* .xm* should come after each margin* properties */
.xmt { margin-top: 0; }
.xml { margin-left: 0; }
.xmr { margin-right: 0; }
.xmb { margin-bottom: 0; }
.xmv { margin-top: 0; margin-bottom: 0; }
.xmh { margin-left: 0; margin-right: 0; }
