/* padding */

/* recursive padding */
.r-p * { padding: 0; }

/* NOTE
 * Order of .p* classes is important. In general the following should be
 * allowed:
 *	class="p10 pt5"	top=5px, left,right,bottom=10px
 *	class="pv10 pt5" top=5px, bottom=10px
 *	class="p5 xpt"
 */
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.p25 { padding: 25px; }
.p30 { padding: 30px; }
.p35 { padding: 35px; }
.p40 { padding: 40px; }
.p45 { padding: 45px; }
.p50 { padding: 50px; }

.p05m { padding: 0.5em; }
.p10m { padding: 1.0em; }
.p15m { padding: 1.5em; }
.p20m { padding: 2.0em; }
.p25m { padding: 2.5em; }
.p30m { padding: 3.0em; }
.p35m { padding: 3.5em; }
.p40m { padding: 4.0em; }
.p45m { padding: 4.5em; }
.p50m { padding: 5.0em; }

/* .pv* and .ph* should come after .p* */

.pv5 { padding-top: 5px; padding-bottom: 5px; }
.pv10 { padding-top: 10px; padding-bottom: 10px; }
.pv15 { padding-top: 15px; padding-bottom: 15px; }
.pv20 { padding-top: 20px; padding-bottom: 20px; }
.pv25 { padding-top: 25px; padding-bottom: 25px; }
.pv30 { padding-top: 30px; padding-bottom: 30px; }
.pv35 { padding-top: 35px; padding-bottom: 35px; }
.pv40 { padding-top: 40px; padding-bottom: 40px; }
.pv45 { padding-top: 45px; padding-bottom: 45px; }
.pv50 { padding-top: 50px; padding-bottom: 50px; }

.pv05m { padding-top: 0.5em; padding-bottom: 0.5em; }
.pv10m { padding-top: 1.0em; padding-bottom: 1.0em; }
.pv15m { padding-top: 1.5em; padding-bottom: 1.5em; }
.pv20m { padding-top: 2.0em; padding-bottom: 2.0em; }
.pv25m { padding-top: 2.5em; padding-bottom: 2.5em; }
.pv30m { padding-top: 3.0em; padding-bottom: 3.0em; }
.pv35m { padding-top: 3.5em; padding-bottom: 3.5em; }
.pv40m { padding-top: 4.0em; padding-bottom: 4.0em; }
.pv45m { padding-top: 4.5em; padding-bottom: 4.5em; }
.pv50m { padding-top: 5.0em; padding-bottom: 5.0em; }

.ph5 { padding-left: 5px; padding-right: 5px; }
.ph10 { padding-left: 10px; padding-right: 10px; }
.ph15 { padding-left: 15px; padding-right: 15px; }
.ph20 { padding-left: 20px; padding-right: 20px; }
.ph25 { padding-left: 25px; padding-right: 25px; }
.ph30 { padding-left: 30px; padding-right: 30px; }
.ph35 { padding-left: 35px; padding-right: 35px; }
.ph40 { padding-left: 40px; padding-right: 40px; }
.ph45 { padding-left: 45px; padding-right: 45px; }
.ph50 { padding-left: 50px; padding-right: 50px; }

.ph05m { padding-left: 0.5em; padding-right: 0.5em; }
.ph10m { padding-left: 1.0em; padding-right: 1.0em; }
.ph15m { padding-left: 1.5em; padding-right: 1.5em; }
.ph20m { padding-left: 2.0em; padding-right: 2.0em; }
.ph25m { padding-left: 2.5em; padding-right: 2.5em; }
.ph30m { padding-left: 3.0em; padding-right: 3.0em; }
.ph35m { padding-left: 3.5em; padding-right: 3.5em; }
.ph40m { padding-left: 4.0em; padding-right: 4.0em; }
.ph45m { padding-left: 4.5em; padding-right: 4.5em; }
.ph50m { padding-left: 5.0em; padding-right: 5.0em; }

/* .pl*, .pr*, .pt*, and .pb* should come after .p*, .pv*, and .ph* */

.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl25 { padding-left: 25px; }
.pl30 { padding-left: 30px; }
.pl35 { padding-left: 35px; }
.pl40 { padding-left: 40px; }
.pl45 { padding-left: 45px; }
.pl50 { padding-left: 50px; }

.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr25 { padding-right: 25px; }
.pr30 { padding-right: 30px; }
.pr35 { padding-right: 35px; }
.pr40 { padding-right: 40px; }
.pr45 { padding-right: 45px; }
.pr50 { padding-right: 50px; }
.pr565 { padding-right: 565px; }

.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pt35 { padding-top: 35px; }
.pt40 { padding-top: 40px; }
.pt45 { padding-top: 45px; }
.pt50 { padding-top: 50px; }

.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }
.pb35 { padding-bottom: 35px; }
.pb40 { padding-bottom: 40px; }
.pb45 { padding-bottom: 45px; }
.pb50 { padding-bottom: 50px; }

.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pt35 { padding-top: 35px; }
.pt40 { padding-top: 40px; }
.pt45 { padding-top: 45px; }
.pt50 { padding-top: 50px; }
