.bg-f88 { background: #f88; }
.bg-8f8 { background: #8f8; }
.bg-88f { background: #88f; }
.bg-ff8 { background: #ff8; }
.bg-f8f { background: #f88; }
.bg-8ff { background: #8ff; }
.bg-fff { background: #fff; }
