/* text-decoration */

.u { text-decoration: underline; }
.o { text-decoration: overline; }
.s { text-decoration: line-through; } /* strike over */
.u.o { text-decoration: underline overline; }
.u.s { text-decoration: underline line-through; }
.o.s { text-decoration: overline line-through; }
.u.o.s { text-decoration: underline overline line-through; }
.xd { text-decoration: none; }

.h-u:hover { text-decoration: underline; }
.h-o:hover { text-decoration: overline; }
.h-s:hover { text-decoration: line-through; } /* strike over */
.h-u.h-o:hover { text-decoration: underline overline; }
.h-u.h-s:hover { text-decoration: underline line-through; }
.h-o.h-s:hover { text-decoration: overline line-through; }
.h-u.h-o.h-s:hover { text-decoration: underline overline line-through; }
.h-xd:hover { text-decoration: none; }
