.l {
  text-align: left; }

.r {
  text-align: right; }

.c {
  text-align: center; }

.j {
  text-align: justify; }

.vm {
  vertical-align: middle; }

.vt {
  vertical-align: top; }

.vb {
  vertical-align: bottom; }

.u, .h-u:hover {
  text-decoration: underline; }

.o, .h-o:hover {
  text-decoration: overline; }

.s, .h-s:hover {
  text-decoration: line-through; }

.u.o, .o.h-u:hover, .h-u.h-o:hover, .u.h-o:hover {
  text-decoration: underline overline; }

.u.s, .s.h-u:hover, .h-u.h-s:hover, .u.h-s:hover {
  text-decoration: underline line-through; }

.o.s, .s.h-o:hover, .h-o.h-s:hover, .o.h-s:hover {
  text-decoration: overline line-through; }

.u.o.s, .o.s.h-u:hover, .s.h-u.h-o:hover, .h-u.h-o.h-s:hover, .o.h-u.h-s:hover, .u.s.h-o:hover, .u.h-o.h-s:hover, .u.o.h-s:hover {
  text-decoration: underline overline line-through; }

.x, .h-x:hover {
  text-decoration: none; }

.uc, .h-uc:hover {
  text-transform: uppercase; }

.lc, .h-lc:hover {
  text-transform: lowercase; }

.cc, .h-cc:hover {
  text-transform: capitalize; }

.xc, .h-xc:hover {
  text-transform: none; }
