.min-h100 {
    min-height: 100px;
}

.fit400x100p {
    width: 400px;
    height: 100%;
}

.t100 {
    top: 100px;
}

.border {
    border: 5px solid black;
}

.border1 {
    border: 1px solid black;
}
