.sidebar-separator > td {
    border-top: 1px solid rgba(255, 255, 255, 0.5)
}

.sidebar-red > td:first-child,
.sidebar-pink > td:first-child,
.sidebar-blue > td:first-child,
.sidebar-green > td:first-child,
.sidebar-yellow > td:first-child {
    border-left: 5px solid black;
}

.sidebar-red > td:first-child {
    border-left-color: #f77a97;
}

.sidebar-pink > td:first-child {
    border-left-color: #f77af3;
}

.sidebar-blue > td:first-child{
    border-left-color: #867af7;
}

.sidebar-green > td:first-child{
    border-left-color: #7af786;
}

.sidebar-yellow > td:first-child{
    border-left-color: #f3f77a;
}
