@import '../index'

// About specificity
//
// https://specificity.keegan.st/
//
// It seems that all of .p5, .m5, .c, .flex-row, et. al. classes
// should be declared as
//
//     html [class].p5
//     html [class].m5
//     html [class].c
//     html [class].flex-row
//
//  That way they will have higher enough specificity to override
//  something like this:
//
//      .slider .slider-thumb
//
//  Double [class] can be used to make specificity even higher
//
//      html [class][class].p5
//
//  or just
//
//      [class][class].p5
//
//  in order to override the following
//
//      .slider .slider-thumb button svg

// Legend
//
// N - positive or negative pixels, 10s of ems, or percents
// D - degrees (e.g. rotateD for rotate: 45deg)
// p - percent (e.g. scale25 for scale: 0.25)
// m - 10ths of em
// n - negative number
//
// h-p5 hover:p5 (under hover)
// child-p5 * > p5 (immediate children)
//
// lh5
// lh05m 0.5em
// lh10m 1.0em
// mt10n -10px
//
// Take care about specificity
//
// .xborder.pt5 should yield padding: 5px 0 0 0

// reset
svg
  fill: currentColor
button
  cursor: pointer
h2
  margin: 0

// color themes
.theme-white
  color: #7f8893
  background: white
  font-family: 'Open Sans', serif
  font-size: 15px
  button:hover
    color: #36beff
  button:active
    color: #2f72ff
  .active
    background: yellow

// button
// * xbutton.border
@include smx('xbutton')

// align
@include smx('l r c j vm vt vb')

// background
@include smx('xbg black silver white red green blue yellow cyan checkerboard rainbow')

// Borders
@include smx('xborder')
@include smx('border dashed')
@include smx('xborder-t xborder-l xborder-r xborder-b')
@include smx('xborder-h xborder-ht xborder-hb')
@include smx('xborder-v xborder-vl xborder-vr')

// Border radius
@include smx('xbr')
@include smx('br1 br2 br3 br4 br5 br6 br7 br8 br9 br10 br999')
@include smx('br100p')

// box
@include smx('cbox bbox')

// cursor
@include smx('cursor-alias cursor-all-scroll cursor-auto cursor-cell cursor-col-resize cursor-context-menu cursor-copy cursor-crosshair cursor-default cursor-e-resize cursor-ew-resize cursor-help cursor-inherit cursor-initial cursor-move cursor-n-resize cursor-ne-resize cursor-nesw-resize cursor-no-drop cursor-none cursor-not-allowed cursor-ns-resize cursor-nw-resize cursor-nwse-resize cursor-pointer cursor-progress cursor-row-resize cursor-s-resize cursor-se-resize cursor-sw-resize cursor-text cursor-vertical-text cursor-w-resize cursor-wait')

// display
@include smx('xd db di dl dt dc')

// ellipsis
@include smx('ellipsis ellipsis2')

// expand
@include smx('expand-1-1 expand-1-2 expand-1-3 expand-1-4 expand-2-1 expand-2-3 expand-2-4')

// flex
@include smx('flex-row flex-row-center flex-col flex-col-center flex-wrap flex-nowrap flex-wrap-r flex-center flex-align-start flex-align-end flex-align-center flex-align-baseline flex-align-stretch flex-justify-start flex-justify-end flex-justify-center flex-justify-between flex-justify-around flex-grow flex-nogrow flex-shrink flex-noshrink flex-fluid')

// float
@include smx('xf fl fr xc cb cl cr clearfix floats')
// XXX Should it be in *floats* mixin?
.floats
  @include smx('xf fl fr')

// font
@include smx('xfs fs12 fs13 fs14 fs15')
@include smx('lh0')

// hsplit
@include smx('hsplit vsplit')

// list
@include smx('xls')

// margin and margin groups
@include smx('ma')
@include smx('xm xml xmr xmt xmb')

@include smx('m5 m10 m15 m20 m25 m50')
@include smx('mv5 mv10 mv15 mv20 mv25 mv50')
@include smx('mh5 mh10 mh15 mh20 mh25 mh50')
@include smx('mta mt10 mt10n mt50')
@include smx('ml10 ml10n ml50 ml50n')
@include smx('mr10 mr10n mr50 mr50n')
@include smx('mg5 mg10 mg15 mg20 mg25 mg30 mg35 mg40 mg45 mg50')
@include smx('mi5 mi10 mi15 mi20 mi25 mi30 mi35 mi40 mi45 mi50')

// opacity
@include smx('xo o25 o50 o75 o100')

// outline
@include smx('xoutline outline')

// overflow
@include smx('oa oh os')

// padding and padding groups
@include smx('pa')
@include smx('xp xpl xpr xpt xpb')
@include smx('p5 p10 p15 p20 p25 p30 p35')
@include smx('pl50')
@include smx('pt10 pl10')
@include smx('ph5 ph10 ph15 ph20 ph25 ph30 ph35 ph40 ph45 ph50')
@include smx('pv5 pv10 pv15 pv20 pv25 pv30 pv35 pv40 pv45 pv50')
@include smx('pg5 pg10 pg15 pg20 pg25 pg30 pg35 pg40 pg45 pg50')
@include smx('pi5 pi10 pi15 pi20 pi25 pi30 pi35 pi40 pi45 pi50')

// pointer events
@include smx('no-pointer-events')

// position
@include smx('stat rel abs fix sticky')
@include smx('abs-f abs-t abs-b abs-l abs-r abs-c abs-tl abs-tl-c abs-tl-ct abs-tl-cb abs-tl-cl abs-tl-cr abs-tl-tr abs-tl-bl abs-tl-br abs-tr abs-tr-c abs-tr-ct abs-tr-cb abs-tr-cl abs-tr-cr abs-tr-tl abs-tr-bl abs-tr-br abs-bl abs-bl-c abs-bl-ct abs-bl-cb abs-bl-cl abs-bl-cr abs-bl-tl abs-bl-tr abs-bl-br abs-br abs-br-c abs-br-ct abs-br-cb abs-br-cl abs-br-cr abs-br-tl abs-br-tr abs-br-bl abs-c-ct abs-c-cb abs-c-cl abs-c-cr abs-c-tl abs-c-tr abs-c-bl abs-c-br abs-ct abs-ct-c abs-ct-cb abs-ct-cl abs-ct-cr abs-ct-tl abs-ct-tr abs-ct-bl abs-ct-br abs-cb abs-cb-c abs-cb-ct abs-cb-cb abs-cb-cl abs-cb-cr abs-cb-tl abs-cb-tr abs-cb-bl abs-cb-br abs-cl abs-cl-c abs-cl-ct abs-cl-cb abs-cl-cr abs-cl-tl abs-cl-tr abs-cl-bl abs-cl-br abs-cr abs-cr-c abs-cr-ct abs-cr-cb abs-cr-cl abs-cr-tl abs-cr-tr abs-cr-bl abs-cr-br')
@include smx('fix-f fix-t fix-b fix-l fix-r fix-c fix-tl fix-tl-c fix-tl-ct fix-tl-cb fix-tl-cl fix-tl-cr fix-tl-tr fix-tl-bl fix-tl-br fix-tr fix-tr-c fix-tr-ct fix-tr-cb fix-tr-cl fix-tr-cr fix-tr-tl fix-tr-bl fix-tr-br fix-bl fix-bl-c fix-bl-ct fix-bl-cb fix-bl-cl fix-bl-cr fix-bl-tl fix-bl-tr fix-bl-br fix-br fix-br-c fix-br-ct fix-br-cb fix-br-cl fix-br-cr fix-br-tl fix-br-tr fix-br-bl fix-c-ct fix-c-cb fix-c-cl fix-c-cr fix-c-tl fix-c-tr fix-c-bl fix-c-br fix-ct fix-ct-c fix-ct-cb fix-ct-cl fix-ct-cr fix-ct-tl fix-ct-tr fix-ct-bl fix-ct-br fix-cb fix-cb-c fix-cb-ct fix-cb-cb fix-cb-cl fix-cb-cr fix-cb-tl fix-cb-tr fix-cb-bl fix-cb-br fix-cl fix-cl-c fix-cl-ct fix-cl-cb fix-cl-cr fix-cl-tl fix-cl-tr fix-cl-bl fix-cl-br fix-cr fix-cr-c fix-cr-ct fix-cr-cb fix-cr-cl fix-cr-tl fix-cr-tr fix-cr-bl fix-cr-br')
@include smx('tlbr tlbr5 tlbr10')
@include smx('ta ba la ra')
@include smx('t5 l5 b5 r5')

// scrollbar
@include smx('no-scrollbars')

// shadow
@include smx('xbs')
@include smx('bs5 bs10 bs15 bs20 bs25')
@include smx('is5 is10 is15 is20 is25')

// size
@include smx('wa ww')
@include smx('ha hh')
@include smx('w0 w5 w10 w15 w20 w25 w30 w35 w40 w45 w50 w100 w200 w500')
@include smx('h0 h5 h10 h15 h20 h25 h30 h35 h40 h45 h50 h100 h200 h500')
@include smx('w50p h75p')
@include smx('h50p w75p')
@include smx('min100 min200')
@include smx('max100 max200')
@include smx('max-w200')
@include smx('max-h200')
@include smx('min800x600')
@include smx('max800x600')
@include smx('min-w200')
@include smx('min-h200')

// text (wrapping, decorations, and transformations)
@include smx('nowrap')
@include smx('x u o s')
@include smx('xx uc lc cc')

// theme
@include smx('theme-navy theme-blue theme-aqua theme-teal theme-olive theme-green theme-lime theme-yellow theme-orange theme-red theme-maroon theme-fuchsia theme-purple theme-black theme-gray theme-silver')

// transform ('rotation and scale')
@include smx('scale20')
@include smx('rotate45 rotate90 rotate180 rotate270')

// user-select
@include smx('no-user-select')

// zindex
@include smx('z1 z2 z1000')
@include smx('z1n z2n z1000n')

// container/grid
@include smx('grid2 grid3 grid4 grid5 grid6 grid7 grid8 grid9 grid10')
