svg {
  fill: currentColor;
}

button {
  cursor: pointer;
}

h2 {
  margin: 0;
}

.theme-white {
  color: #7f8893;
  background: white;
  font-family: "Open Sans", serif;
  font-size: 15px;
}
.theme-white button:hover {
  color: #36beff;
}
.theme-white button:active {
  color: #2f72ff;
}
.theme-white .active {
  background: yellow;
}

.xbutton {
  box-sizing: content-box;
  font-size: inherit;
  color: inherit;
  border: none;
  padding: 0;
  background: none;
}
.xbutton:focus {
  outline: none;
}
.xbutton::-moz-focus-inner {
  border: none;
}

.l {
  text-align: left;
}

.r {
  text-align: right;
}

.c {
  text-align: center;
}

.j {
  text-align: justify;
}

.vm {
  vertical-align: middle;
}

.vt {
  vertical-align: top;
}

.vb {
  vertical-align: bottom;
}

.xbg {
  background: none;
}

.black {
  background: #000;
}

.silver {
  background: #ccc;
}

.white {
  background: #fff;
}

.red {
  background: #f88;
}

.green {
  background: #8f8;
}

.blue {
  background: #88f;
}

.yellow {
  background: #ff8;
}

.cyan {
  background: #8ff;
}

.checkerboard {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX///+/v7+jQ3Y5AAAAEUlEQVQI12P4z8CAFWEX/Q8Afr8P8erzE9cAAAAASUVORK5CYII=");
}

.rainbow > :nth-child(3n+1) {
  background: #f88;
}
.rainbow > :nth-child(3n+2) {
  background: #8f8;
}
.rainbow > :nth-child(3n+3) {
  background: #88f;
}

.xborder {
  border: none;
}

.border {
  border: 1px solid currentColor;
}

.dashed {
  border: 1px dashed currentColor;
}

.xborder-t {
  border-top: none;
}

.xborder-l {
  border-left: none;
}

.xborder-r {
  border-right: none;
}

.xborder-b {
  border-bottom: none;
}

.xborder-h {
  border-left: none;
  border-right: none;
}

.xborder-ht {
  border-top: none;
  border-left: none;
  border-right: none;
}

.xborder-hb {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.xborder-v {
  border-top: none;
  border-bottom: none;
}

.xborder-vl {
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.xborder-vr {
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.xbr {
  border-radius: 0;
}

.br1 {
  border-radius: 1px;
}

.br2 {
  border-radius: 2px;
}

.br3 {
  border-radius: 3px;
}

.br4 {
  border-radius: 4px;
}

.br5 {
  border-radius: 5px;
}

.br6 {
  border-radius: 6px;
}

.br7 {
  border-radius: 7px;
}

.br8 {
  border-radius: 8px;
}

.br9 {
  border-radius: 9px;
}

.br10 {
  border-radius: 10px;
}

.br999 {
  border-radius: 999px;
}

.br100p {
  border-radius: 100%;
}

.cbox {
  box-sizing: content-box;
}

.bbox {
  box-sizing: border-box;
}

.cur-alias {
  cursor: alias;
}

.cur-all-scroll {
  cursor: all-scroll;
}

.cur-auto {
  cursor: auto;
}

.cur-cell {
  cursor: cell;
}

.cur-col-resize {
  cursor: col-resize;
}

.cur-context-menu {
  cursor: context-menu;
}

.cur-copy {
  cursor: copy;
}

.cur-crosshair {
  cursor: crosshair;
}

.cur-default {
  cursor: default;
}

.cur-e-resize {
  cursor: e-resize;
}

.cur-ew-resize {
  cursor: ew-resize;
}

.cur-help {
  cursor: help;
}

.cur-inherit {
  cursor: inherit;
}

.cur-initial {
  cursor: initial;
}

.cur-move {
  cursor: move;
}

.cur-n-resize {
  cursor: n-resize;
}

.cur-ne-resize {
  cursor: ne-resize;
}

.cur-nesw-resize {
  cursor: nesw-resize;
}

.cur-no-drop {
  cursor: no-drop;
}

.cur-none {
  cursor: none;
}

.cur-not-allowed {
  cursor: not-allowed;
}

.cur-ns-resize {
  cursor: ns-resize;
}

.cur-nw-resize {
  cursor: nw-resize;
}

.cur-nwse-resize {
  cursor: nwse-resize;
}

.cur-pointer {
  cursor: pointer;
}

.cur-progress {
  cursor: progress;
}

.cur-row-resize {
  cursor: row-resize;
}

.cur-s-resize {
  cursor: s-resize;
}

.cur-se-resize {
  cursor: se-resize;
}

.cur-sw-resize {
  cursor: sw-resize;
}

.cur-text {
  cursor: text;
}

.cur-vertical-text {
  cursor: vertical-text;
}

.cur-w-resize {
  cursor: w-resize;
}

.cur-wait {
  cursor: wait;
}

.xd {
  display: none;
}

.db {
  display: block;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

.dt {
  display: table;
}

.dtc {
  display: table-cell;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.25em;
  max-height: 2.5em;
  box-sizing: content-box;
  word-break: break-all;
  overflow-wrap: break-word;
}

.expand-1-1 {
  display: block;
  position: relative;
}
.expand-1-1:before {
  display: block;
  content: "";
  padding-top: 100%;
}

.expand-1-2 {
  display: block;
  position: relative;
}
.expand-1-2:before {
  display: block;
  content: "";
  padding-top: 200%;
}

.expand-1-3 {
  display: block;
  position: relative;
}
.expand-1-3:before {
  display: block;
  content: "";
  padding-top: 300%;
}

.expand-1-4 {
  display: block;
  position: relative;
}
.expand-1-4:before {
  display: block;
  content: "";
  padding-top: 400%;
}

.expand-2-1 {
  display: block;
  position: relative;
}
.expand-2-1:before {
  display: block;
  content: "";
  padding-top: 50%;
}

.expand-2-3 {
  display: block;
  position: relative;
}
.expand-2-3:before {
  display: block;
  content: "";
  padding-top: 150%;
}

.expand-2-4 {
  display: block;
  position: relative;
}
.expand-2-4:before {
  display: block;
  content: "";
  padding-top: 200%;
}

.flex-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-row-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-col-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-nowrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.flex-wrap-r {
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
}

.flex-center {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-align-start {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-align-end {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-align-center {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-align-baseline {
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.flex-align-stretch {
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-justify-start {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-justify-end {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-justify-center {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-justify-between {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-justify-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.flex-grow {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-nogrow {
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.flex-shrink {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  min-width: 0;
  min-height: 0;
}

.flex-noshrink {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.flex-fluid {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  min-width: 0;
  min-height: 0;
  -ms-flex-preferred-size: 0;
}

.xf {
  float: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.xc {
  clear: none;
}

.cb {
  clear: both;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.floats {
  *zoom: 1;
}
.floats:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.floats > * {
  float: left;
}

.floats .xf {
  float: none;
}
.floats .fl {
  float: left;
}
.floats .fr {
  float: right;
}

.xfs {
  font-size: inherit;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px;
}

.fs15 {
  font-size: 15px;
}

.lh0 {
  line-height: 0;
}

.hsplit {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.hsplit > :not(.shrink) {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.hsplit > .shrink {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  min-width: 0;
  min-height: 0;
}
.hsplit > .grow {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.hsplit > .fluid {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  min-width: 0;
  min-height: 0;
  -ms-flex-preferred-size: 0;
}

.vsplit {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.vsplit > :not(.shrink) {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.vsplit > .shrink {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  min-width: 0;
  min-height: 0;
}
.vsplit > .grow {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.vsplit > .fluid {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  min-width: 0;
  min-height: 0;
  -ms-flex-preferred-size: 0;
}

.xls {
  list-style: none;
}

.ma {
  margin: auto;
}

.xm {
  margin: 0;
}

.xml {
  margin-left: 0;
}

.xmr {
  margin-right: 0;
}

.xmt {
  margin-top: 0;
}

.xmb {
  margin-bottom: 0;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}

.m25 {
  margin: 25px;
}

.m50 {
  margin: 50px;
}

.mv5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mv10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mv15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mv20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mv25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mv50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mh5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mh10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mh15 {
  margin-left: 15px;
  margin-right: 15px;
}

.mh20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mh25 {
  margin-left: 25px;
  margin-right: 25px;
}

.mh50 {
  margin-left: 50px;
  margin-right: 50px;
}

.mta {
  margin-top: auto;
}

.mt10 {
  margin-top: 10px;
}

.mt10n {
  margin-top: -10px;
}

.mt50 {
  margin-top: 50px;
}

.ml10 {
  margin-left: 10px;
}

.ml10n {
  margin-left: -10px;
}

.ml50 {
  margin-left: 50px;
}

.ml50n {
  margin-left: -50px;
}

.mr10 {
  margin-right: 10px;
}

.mr10n {
  margin-right: -10px;
}

.mr50 {
  margin-right: 50px;
}

.mr50n {
  margin-right: -50px;
}

.mg5 > :not(:last-child) {
  margin-bottom: 5px;
}

.mg10 > :not(:last-child) {
  margin-bottom: 10px;
}

.mg15 > :not(:last-child) {
  margin-bottom: 15px;
}

.mg20 > :not(:last-child) {
  margin-bottom: 20px;
}

.mg25 > :not(:last-child) {
  margin-bottom: 25px;
}

.mg30 > :not(:last-child) {
  margin-bottom: 30px;
}

.mg35 > :not(:last-child) {
  margin-bottom: 35px;
}

.mg40 > :not(:last-child) {
  margin-bottom: 40px;
}

.mg45 > :not(:last-child) {
  margin-bottom: 45px;
}

.mg50 > :not(:last-child) {
  margin-bottom: 50px;
}

.mi5 > :not(:last-child) {
  margin-right: 5px;
}

.mi10 > :not(:last-child) {
  margin-right: 10px;
}

.mi15 > :not(:last-child) {
  margin-right: 15px;
}

.mi20 > :not(:last-child) {
  margin-right: 20px;
}

.mi25 > :not(:last-child) {
  margin-right: 25px;
}

.mi30 > :not(:last-child) {
  margin-right: 30px;
}

.mi35 > :not(:last-child) {
  margin-right: 35px;
}

.mi40 > :not(:last-child) {
  margin-right: 40px;
}

.mi45 > :not(:last-child) {
  margin-right: 45px;
}

.mi50 > :not(:last-child) {
  margin-right: 50px;
}

.xo {
  opacity: 1;
}

.o25 {
  opacity: 0.25;
}

.o50 {
  opacity: 0.5;
}

.o75 {
  opacity: 0.75;
}

.o100 {
  opacity: 1;
}

.xoutline {
  outline: none;
}

.outline {
  outline: 1px currentColor;
}

.oa {
  overflow: auto;
}

.oh {
  overflow: hidden;
}

.os {
  overflow: scroll;
}

.pa {
  padding: auto;
}

.xp {
  padding: 0;
}

.xpl {
  padding-left: 0;
}

.xpr {
  padding-right: 0;
}

.xpt {
  padding-top: 0;
}

.xpb {
  padding-bottom: 0;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p20 {
  padding: 20px;
}

.p25 {
  padding: 25px;
}

.p30 {
  padding: 30px;
}

.p35 {
  padding: 35px;
}

.pl50 {
  padding-left: 50px;
}

.pt10 {
  padding-top: 10px;
}

.pl10 {
  padding-left: 10px;
}

.ph5 {
  padding-left: 5px;
  padding-right: 5px;
}

.ph10 {
  padding-left: 10px;
  padding-right: 10px;
}

.ph15 {
  padding-left: 15px;
  padding-right: 15px;
}

.ph20 {
  padding-left: 20px;
  padding-right: 20px;
}

.ph25 {
  padding-left: 25px;
  padding-right: 25px;
}

.ph30 {
  padding-left: 30px;
  padding-right: 30px;
}

.ph35 {
  padding-left: 35px;
  padding-right: 35px;
}

.ph40 {
  padding-left: 40px;
  padding-right: 40px;
}

.ph45 {
  padding-left: 45px;
  padding-right: 45px;
}

.ph50 {
  padding-left: 50px;
  padding-right: 50px;
}

.pv5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pv10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pv15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pv20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pv25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pv30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pv35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.pv40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pv45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.pv50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pg5 > :not(:last-child) {
  padding-bottom: 5px;
}

.pg10 > :not(:last-child) {
  padding-bottom: 10px;
}

.pg15 > :not(:last-child) {
  padding-bottom: 15px;
}

.pg20 > :not(:last-child) {
  padding-bottom: 20px;
}

.pg25 > :not(:last-child) {
  padding-bottom: 25px;
}

.pg30 > :not(:last-child) {
  padding-bottom: 30px;
}

.pg35 > :not(:last-child) {
  padding-bottom: 35px;
}

.pg40 > :not(:last-child) {
  padding-bottom: 40px;
}

.pg45 > :not(:last-child) {
  padding-bottom: 45px;
}

.pg50 > :not(:last-child) {
  padding-bottom: 50px;
}

.pi5 > :not(:last-child) {
  padding-right: 5px;
}

.pi10 > :not(:last-child) {
  padding-right: 10px;
}

.pi15 > :not(:last-child) {
  padding-right: 15px;
}

.pi20 > :not(:last-child) {
  padding-right: 20px;
}

.pi25 > :not(:last-child) {
  padding-right: 25px;
}

.pi30 > :not(:last-child) {
  padding-right: 30px;
}

.pi35 > :not(:last-child) {
  padding-right: 35px;
}

.pi40 > :not(:last-child) {
  padding-right: 40px;
}

.pi45 > :not(:last-child) {
  padding-right: 45px;
}

.pi50 > :not(:last-child) {
  padding-right: 50px;
}

.no-pointer-events {
  pointer-events: none;
}

.stat {
  position: static;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fix {
  position: fixed;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.abs-f {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.abs-t {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.abs-b {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.abs-l {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.abs-r {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.abs-c {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.abs-tl {
  position: absolute;
  top: 0;
  left: 0;
}

.abs-tl-c {
  position: absolute;
  top: 50%;
  left: 50%;
}

.abs-tl-ct {
  position: absolute;
  top: 0;
  left: 50%;
}

.abs-tl-cb {
  position: absolute;
  top: 100%;
  left: 50%;
}

.abs-tl-cl {
  position: absolute;
  top: 50%;
  left: 0;
}

.abs-tl-cr {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.abs-tl-tr {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.abs-tl-bl {
  position: absolute;
  top: 100%;
  left: 0;
}

.abs-tl-br {
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.abs-tr {
  position: absolute;
  top: 0;
  right: 0;
}

.abs-tr-c {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.abs-tr-ct {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.abs-tr-cb {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
}

.abs-tr-cl {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.abs-tr-cr {
  position: absolute;
  top: 50%;
  right: 0;
}

.abs-tr-tl {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.abs-tr-bl {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
}

.abs-tr-br {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.abs-bl {
  position: absolute;
  left: 0;
  bottom: 0;
}

.abs-bl-c {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.abs-bl-ct {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.abs-bl-cb {
  position: absolute;
  left: 50%;
  bottom: 0;
}

.abs-bl-cl {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.abs-bl-cr {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
}

.abs-bl-tl {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.abs-bl-tr {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
}

.abs-bl-br {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.abs-br {
  position: absolute;
  right: 0;
  bottom: 0;
}

.abs-br-c {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}

.abs-br-ct {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}

.abs-br-cb {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.abs-br-cl {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}

.abs-br-cr {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.abs-br-tl {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}

.abs-br-tr {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.abs-br-bl {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.abs-c-ct {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.abs-c-cb {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.abs-c-cl {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.abs-c-cr {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.abs-c-tl {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.abs-c-tr {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.abs-c-bl {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.abs-c-br {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.abs-ct {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.abs-ct-c {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.abs-ct-cb {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.abs-ct-cl {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.abs-ct-cr {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.abs-ct-tl {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.abs-ct-tr {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.abs-ct-bl {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.abs-ct-br {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, 100%);
          transform: translate(50%, 100%);
}

.abs-cb {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.abs-cb-c {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.abs-cb-ct {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.abs-cb-cb {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.abs-cb-cl {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.abs-cb-cr {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -100%);
          transform: translate(50%, -100%);
}

.abs-cb-tl {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.abs-cb-tr {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -100%);
          transform: translate(50%, -100%);
}

.abs-cb-bl {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.abs-cb-br {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.abs-cl {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.abs-cl-c {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.abs-cl-ct {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.abs-cl-cb {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.abs-cl-cr {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.abs-cl-tl {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.abs-cl-tr {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.abs-cl-bl {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.abs-cl-br {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(100%, 50%);
          transform: translate(100%, 50%);
}

.abs-cr {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.abs-cr-c {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.abs-cr-ct {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.abs-cr-cb {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-100%, 50%);
          transform: translate(-100%, 50%);
}

.abs-cr-cl {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.abs-cr-tl {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.abs-cr-tr {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.abs-cr-bl {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-100%, 50%);
          transform: translate(-100%, 50%);
}

.abs-cr-br {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.fix-f {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fix-t {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.fix-b {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.fix-l {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.fix-r {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.fix-c {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fix-tl {
  position: fixed;
  top: 0;
  left: 0;
}

.fix-tl-c {
  position: fixed;
  top: 50%;
  left: 50%;
}

.fix-tl-ct {
  position: fixed;
  top: 0;
  left: 50%;
}

.fix-tl-cb {
  position: fixed;
  top: 100%;
  left: 50%;
}

.fix-tl-cl {
  position: fixed;
  top: 50%;
  left: 0;
}

.fix-tl-cr {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.fix-tl-tr {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.fix-tl-bl {
  position: fixed;
  top: 100%;
  left: 0;
}

.fix-tl-br {
  position: fixed;
  top: 100%;
  right: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.fix-tr {
  position: fixed;
  top: 0;
  right: 0;
}

.fix-tr-c {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.fix-tr-ct {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.fix-tr-cb {
  position: fixed;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
}

.fix-tr-cl {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.fix-tr-cr {
  position: fixed;
  top: 50%;
  right: 0;
}

.fix-tr-tl {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.fix-tr-bl {
  position: fixed;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
}

.fix-tr-br {
  position: fixed;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.fix-bl {
  position: fixed;
  left: 0;
  bottom: 0;
}

.fix-bl-c {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.fix-bl-ct {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.fix-bl-cb {
  position: fixed;
  left: 50%;
  bottom: 0;
}

.fix-bl-cl {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.fix-bl-cr {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
}

.fix-bl-tl {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.fix-bl-tr {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
}

.fix-bl-br {
  position: fixed;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.fix-br {
  position: fixed;
  right: 0;
  bottom: 0;
}

.fix-br-c {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}

.fix-br-ct {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}

.fix-br-cb {
  position: fixed;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.fix-br-cl {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}

.fix-br-cr {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.fix-br-tl {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}

.fix-br-tr {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.fix-br-bl {
  position: fixed;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.fix-c-ct {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fix-c-cb {
  position: fixed;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.fix-c-cl {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fix-c-cr {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.fix-c-tl {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fix-c-tr {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.fix-c-bl {
  position: fixed;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.fix-c-br {
  position: fixed;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.fix-ct {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.fix-ct-c {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.fix-ct-cb {
  position: fixed;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.fix-ct-cl {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.fix-ct-cr {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.fix-ct-tl {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.fix-ct-tr {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.fix-ct-bl {
  position: fixed;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.fix-ct-br {
  position: fixed;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, 100%);
          transform: translate(50%, 100%);
}

.fix-cb {
  position: fixed;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.fix-cb-c {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.fix-cb-ct {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.fix-cb-cb {
  position: fixed;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.fix-cb-cl {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.fix-cb-cr {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -100%);
          transform: translate(50%, -100%);
}

.fix-cb-tl {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.fix-cb-tr {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -100%);
          transform: translate(50%, -100%);
}

.fix-cb-bl {
  position: fixed;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.fix-cb-br {
  position: fixed;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.fix-cl {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.fix-cl-c {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.fix-cl-ct {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.fix-cl-cb {
  position: fixed;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.fix-cl-cr {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.fix-cl-tl {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.fix-cl-tr {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.fix-cl-bl {
  position: fixed;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.fix-cl-br {
  position: fixed;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(100%, 50%);
          transform: translate(100%, 50%);
}

.fix-cr {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.fix-cr-c {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.fix-cr-ct {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.fix-cr-cb {
  position: fixed;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-100%, 50%);
          transform: translate(-100%, 50%);
}

.fix-cr-cl {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.fix-cr-tl {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.fix-cr-tr {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.fix-cr-bl {
  position: fixed;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-100%, 50%);
          transform: translate(-100%, 50%);
}

.fix-cr-br {
  position: fixed;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.tlbr {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tlbr5 {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.tlbr10 {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.ta {
  top: auto;
}

.ba {
  bottom: auto;
}

.la {
  left: auto;
}

.ra {
  right: auto;
}

.t5 {
  top: 5px;
}

.l5 {
  left: 5px;
}

.b5 {
  bottom: 5px;
}

.r5 {
  right: 5px;
}

.no-scrollbars {
  overflow: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.no-scrollbars::-webkit-scrollbar {
  display: none;
}

.xbs {
  box-shadow: none;
}

.bs5 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.bs10 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.bs15 {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.bs20 {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

.bs25 {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
}

.is5 {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);
}

.is10 {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.75);
}

.is15 {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.75);
}

.is20 {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.75);
}

.is25 {
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
}

.wa {
  width: auto;
}

.ww {
  width: 100%;
}

.ha {
  height: auto;
}

.hh {
  height: 100%;
}

.w0 {
  width: 0;
}

.w5 {
  width: 5px;
}

.w10 {
  width: 10px;
}

.w15 {
  width: 15px;
}

.w20 {
  width: 20px;
}

.w25 {
  width: 25px;
}

.w30 {
  width: 30px;
}

.w35 {
  width: 35px;
}

.w40 {
  width: 40px;
}

.w45 {
  width: 45px;
}

.w50 {
  width: 50px;
}

.w100 {
  width: 100px;
}

.w200 {
  width: 200px;
}

.w500 {
  width: 500px;
}

.h0 {
  height: 0;
}

.h5 {
  height: 5px;
}

.h10 {
  height: 10px;
}

.h15 {
  height: 15px;
}

.h20 {
  height: 20px;
}

.h25 {
  height: 25px;
}

.h30 {
  height: 30px;
}

.h35 {
  height: 35px;
}

.h40 {
  height: 40px;
}

.h45 {
  height: 45px;
}

.h50 {
  height: 50px;
}

.h100 {
  height: 100px;
}

.h200 {
  height: 200px;
}

.h500 {
  height: 500px;
}

.w50p {
  width: 50%;
}

.h75p {
  height: 75%;
}

.h50p {
  height: 50%;
}

.w75p {
  width: 75%;
}

.min100 {
  min-width: 100px;
  min-height: 100px;
}

.min200 {
  min-width: 200px;
  min-height: 200px;
}

.max100 {
  max-width: 100px;
  max-height: 100px;
}

.max200 {
  max-width: 200px;
  max-height: 200px;
}

.max-w200 {
  max-width: 200px;
}

.max-h200 {
  max-height: 200px;
}

.min800x600 {
  min-width: 800px;
  min-height: 600px;
}

.max800x600 {
  max-width: 800px;
  max-height: 600px;
}

.min-w200 {
  min-width: 200px;
}

.min-h200 {
  min-height: 200px;
}

.nowrap {
  white-space: nowrap;
}

.x {
  text-decoration: none;
}

.u {
  text-decoration: underline;
}

.o {
  text-decoration: overline;
}

.s {
  text-decoration: line-through;
}

.xx {
  text-transform: none;
}

.uc {
  text-transform: uppercase;
}

.lc {
  text-transform: lowercase;
}

.cc {
  text-transform: capitalize;
}

.theme-navy {
  color: #80bfff;
  background: #001f3f;
}

.theme-blue {
  color: #b3dbff;
  background: #0074d9;
}

.theme-aqua {
  color: #004966;
  background: #7fdbff;
}

.theme-teal {
  color: #000;
  background: #39cccc;
}

.theme-olive {
  color: #163728;
  background: #3d9970;
}

.theme-green {
  color: #0e3e14;
  background: #2ecc40;
}

.theme-lime {
  color: #00662c;
  background: #01ff70;
}

.theme-yellow {
  color: #665800;
  background: #ffdc00;
}

.theme-orange {
  color: #663000;
  background: #ff851b;
}

.theme-red {
  color: #800600;
  background: #ff4136;
}

.theme-maroon {
  color: #eb7ab1;
  background: #85144b;
}

.theme-fuchsia {
  color: #65064f;
  background: #f012be;
}

.theme-purple {
  color: #efa9f9;
  background: #b10dc9;
}

.theme-black {
  color: #ddd;
  background: #111;
}

.theme-gray {
  color: #000;
  background: #aaa;
}

.theme-silver {
  color: #000;
  background: #ddd;
}

.scale20 {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
}

.rotate45 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.rotate90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.rotate180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.rotate270 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.no-user-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z1000 {
  z-index: 1000;
}

.z1n {
  z-index: -1;
}

.z2n {
  z-index: -2;
}

.z1000n {
  z-index: -1000;
}

.grid2 > .col1 {
  width: 50%;
}
.grid2 > .col2 {
  width: 100%;
}

.grid3 > .col1 {
  width: 33.3333333333%;
}
.grid3 > .col2 {
  width: 66.6666666667%;
}
.grid3 > .col3 {
  width: 100%;
}

.grid4 > .col1 {
  width: 25%;
}
.grid4 > .col2 {
  width: 50%;
}
.grid4 > .col3 {
  width: 75%;
}
.grid4 > .col4 {
  width: 100%;
}

.grid5 > .col1 {
  width: 20%;
}
.grid5 > .col2 {
  width: 40%;
}
.grid5 > .col3 {
  width: 60%;
}
.grid5 > .col4 {
  width: 80%;
}
.grid5 > .col5 {
  width: 100%;
}

.grid6 > .col1 {
  width: 16.6666666667%;
}
.grid6 > .col2 {
  width: 33.3333333333%;
}
.grid6 > .col3 {
  width: 50%;
}
.grid6 > .col4 {
  width: 66.6666666667%;
}
.grid6 > .col5 {
  width: 83.3333333333%;
}
.grid6 > .col6 {
  width: 100%;
}

.grid7 > .col1 {
  width: 14.2857142857%;
}
.grid7 > .col2 {
  width: 28.5714285714%;
}
.grid7 > .col3 {
  width: 42.8571428571%;
}
.grid7 > .col4 {
  width: 57.1428571429%;
}
.grid7 > .col5 {
  width: 71.4285714286%;
}
.grid7 > .col6 {
  width: 85.7142857143%;
}
.grid7 > .col7 {
  width: 100%;
}

.grid8 > .col1 {
  width: 12.5%;
}
.grid8 > .col2 {
  width: 25%;
}
.grid8 > .col3 {
  width: 37.5%;
}
.grid8 > .col4 {
  width: 50%;
}
.grid8 > .col5 {
  width: 62.5%;
}
.grid8 > .col6 {
  width: 75%;
}
.grid8 > .col7 {
  width: 87.5%;
}
.grid8 > .col8 {
  width: 100%;
}

.grid9 > .col1 {
  width: 11.1111111111%;
}
.grid9 > .col2 {
  width: 22.2222222222%;
}
.grid9 > .col3 {
  width: 33.3333333333%;
}
.grid9 > .col4 {
  width: 44.4444444444%;
}
.grid9 > .col5 {
  width: 55.5555555556%;
}
.grid9 > .col6 {
  width: 66.6666666667%;
}
.grid9 > .col7 {
  width: 77.7777777778%;
}
.grid9 > .col8 {
  width: 88.8888888889%;
}
.grid9 > .col9 {
  width: 100%;
}

.grid10 > .col1 {
  width: 10%;
}
.grid10 > .col2 {
  width: 20%;
}
.grid10 > .col3 {
  width: 30%;
}
.grid10 > .col4 {
  width: 40%;
}
.grid10 > .col5 {
  width: 50%;
}
.grid10 > .col6 {
  width: 60%;
}
.grid10 > .col7 {
  width: 70%;
}
.grid10 > .col8 {
  width: 80%;
}
.grid10 > .col9 {
  width: 90%;
}
.grid10 > .col10 {
  width: 100%;
}
