// horizontal alignment
@mixin l
  text-align: left

@mixin r
  text-align: right

@mixin c
  text-align: center

@mixin j
  text-align: justify

// vertical alignment
@mixin vm
  vertical-align: middle

@mixin vt
  vertical-align: top

@mixin vb
  vertical-align: bottom
