.xbg
    background: none

// http://css-tricks.com/perfect-full-page-background-image/
.background-cover
    background: transparent no-repeat center center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

// Simple backgrounds for debugging
.black
    background: #000
.gray
    background: #888
.silver
    background: #ccc
.white
    background: #fff
.red
    background: #f88
.green
    background: #8f8
.blue
    background: #88f
.yellow
    background: #ff8
.cyan
    background: #8ff
.checkerboard
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX///+/v7+jQ3Y5AAAAEUlEQVQI12P4z8CAFWEX/Q8Afr8P8erzE9cAAAAASUVORK5CYII=')

.rainbow2,
.gray-rainbow
    & > :nth-child(2n+1)
        @extend .gray
    & > :nth-child(2n+2)
        @extend .silver

.rainbow,
.rainbow3
    & > :nth-child(3n+1)
        @extend .red
    & > :nth-child(3n+2)
        @extend .green
    & > :nth-child(3n+3)
        @extend .blue

.rainbow5
    & > :nth-child(5n+1)
        @extend .red
    & > :nth-child(5n+2)
        @extend .green
    & > :nth-child(5n+3)
        @extend .blue
    & > :nth-child(5n+4)
        @extend .yellow
    & > :nth-child(5n+5)
        @extend .cyan
