// box-sizing
.bbox
    box-sizing: border-box
.cbox
    box-sizing: content-box

// border
.xborder
    border: none

.border
    border: 1px solid currentColor

.dashed
    border: 1px dashed currentColor

// border-radius
@each $size in (0, 5, 10, 15, 20, 25, 30)
    .br#{$size}
        border-radius: #{$size}px

// .m5 should yield margin: 5px
@each $size in (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50)
    .m#{$size}
        margin: #{$size}px
    .p#{$size}
        padding: #{$size}px

// .m5.mv10 should yield margin: 10px 5px 10px 5px
@each $size in (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50)
    .mv#{$size}
        margin-top: #{$size}px
        margin-bottom: #{$size}px
    .mh#{$size}
        margin-left: #{$size}px
        margin-right: #{$size}px
    .pv#{$size}
        padding-top: #{$size}px
        padding-bottom: #{$size}px
    .ph#{$size}
        padding-left: #{$size}px
        padding-right: #{$size}px

// .m5.mt10 should yield margin: 10px 5px 5px 5px
@each $size in (5, 10, 15)
    .ml#{$size}
        margin-left: #{$size}px
    .mr#{$size}
        margin-right: #{$size}px
    .mt#{$size}
        margin-top: #{$size}px
    .mb#{$size}
        margin-bottom: #{$size}px
    .pl#{$size}
        padding-left: #{$size}px
    .pr#{$size}
        padding-right: #{$size}px
    .pt#{$size}
        padding-top: #{$size}px
    .pb#{$size}
        padding-bottom: #{$size}px

