// References
//
// https://github.com/philipwalton/flexbugs
// https://scotch.io/tutorials/a-visual-guide-to-css3-flexbox-properties

@mixin flex-x
    display: flex
    flex-direction: row

@mixin flex-x-center
    @include flex-x
    @include flex-center

@mixin flex-y
    display: flex
    flex-direction: column

@mixin flex-y-center
    @include flex-y
    @include flex-center

// rows
@mixin flex-rows
    display: flex
    flex-direction: row

@mixin flex-rows-center
    @include flex-rows
    @include flex-center

// columns
@mixin flex-cols
    display: flex
    flex-direction: column

@mixin flex-cols-center
    @include flex-cols
    @include flex-center

// wrap
@mixin flex-wrap
    flex-wrap: wrap
    // align-content: flex-start

@mixin flex-nowrap
    flex-wrap: nowrap
    // align-content: flex-start

@mixin flex-wrap-rev
    flex-wrap: wrap-reverse
    // align-content: flex-start

@mixin flex-center
    align-items: center
    align-content: center
    justify-content: center

// alignment
@mixin flex-align-start
    align-items: flex-start

@mixin flex-align-end
    align-items: flex-end

@mixin flex-align-center
    align-items: center

@mixin flex-align-baseline
    align-items: baseline

@mixin flex-align-stretch
    align-items: stretch

// justify
@mixin flex-justify-start
    justify-content: flex-start

@mixin flex-justify-end
    justify-content: flex-end

@mixin flex-justify-center
    justify-content: center

@mixin flex-justify-between
    justify-content: space-between

@mixin flex-justify-around
    justify-content: space-around

// IE 10-11 flex-basis property behaves differently than webkit browsers
// http://stackoverflow.com/q/28117862/1478566

// flex-basis: 0 vs flex-basis: auto
// https://www.w3.org/TR/css-flexbox-1/images/rel-vs-abs-flex.svg

// growing
@mixin flex-grow
    flex-grow: 1

@mixin flex-nogrow
    flex-grow: 0

@mixin flex-shrink
    flex-shrink: 1
    flex-basis: auto
    min-height: 0

@mixin flex-noshrink
    flex-shrink: 0

@mixin flex-fluid
    @include flex-grow
    @include flex-shrink
    // Fix for IE10 and IE11; *flex-basis: auto* doesn't work
    -ms-flex-preferred-size: 0

.flex-wrap
    @include flex-wrap
.flex-nowrap
    @include flex-nowrap
.flex-wrap-rev
    @include flex-wrap-rev
.flex-rows
    @include flex-rows
.flex-rows-center
    @include flex-rows-center
.flex-cols
    @include flex-cols
.flex-cols-center
    @include flex-cols-center
.flex-center
    @include flex-center
.flex-align-start
    @include flex-align-start
.flex-align-end
    @include flex-align-end
.flex-align-center
    @include flex-align-center
.flex-align-baseline
    @include flex-align-baseline
.flex-align-stretch
    @include flex-align-stretch
.flex-justify-start
    @include flex-justify-start
.flex-justify-end
    @include flex-justify-end
.flex-justify-center
    @include flex-justify-center
.flex-justify-between
    @include flex-justify-between
.flex-justify-around
    @include flex-justify-around
.flex-grow
    @include flex-grow
.flex-nogrow
    @include flex-nogrow
.flex-shrink
    @include flex-shrink
.flex-noshrink
    @include flex-noshrink
.flex-fluid
    @include flex-fluid
