.xf
    float: none
.fl
    float: left
.fr
    float: right

.xc
    clear: none
.cb
    clear: both
.cl
    clear: left
.cr
    clear: right

// http://compass-style.org/reference/compass/utilities/general/clearfix/
.cf,
.clearfix
    *zoom: 1
    &:after
        content: "\0020"
        display: block
        height: 0
        clear: both
        overflow: hidden
        visibility: hidden

.floats
    @extend .clearfix
    > *
        @extend .fl
