.hsplit
    @extend .flex-rows
    @extend .flex-nowrap
    & > *
        flex-shrink: 0
    & > .grow
        // @extend .flex-grow
        // flex-shrink: 1
        flex: 1 1 auto
        min-height: 0

.vsplit
    @extend .flex-cols
    @extend .flex-nowrap
    @extend .hh
    & > *
        flex-shrink: 0
    & > .grow
        flex: 1 1 auto
        min-height: 0
        // @extend .flex-grow
        // flex-shrink: 1
        // height: 0               // FireFox ESR 45.3.0 (Debian 8.5)
