.stat
    position: static
.rel
    position: relative
.abs
    position: absolute
.fix
    position: fixed

.box
    top: 0
    left: 0
    right: 0
    bottom: 0

@each $distance in (5, 10, 15, 20, 25)
    .t#{$distance}
        top: $distance * 1px
    .l#{$distance}
        left: $distance * 1px
    .r#{$distance}
        right: $distance * 1px
    .b#{$distance}
        bottom: $distance * 1px

// The following classes may be renamed to *ta, la, ra, ba*.
// This will allow .xb to use for font-weight: normal
.xt
    top: auto
.xl
    left: auto
.xr
    right: auto
.xb
    bottom: auto

// z-index
@each $z in (1, 2, 3, 4, 5)
    .z#{$z}
        z-index: $z
    .z#{$z}n
        z-index: $z * -1
